[2011-09-07 10:12] nicholas22 opened #1 "Breaks eclipse auto-completion"
Hi there!

I have been using the vanilla lombok project with much success and when stumbled upon this I immediately decided to test it out, as it has further facilities. Unfortunately, if I replace the lombok.jar in my project and Eclipse home with your jar, I lose Eclipse auto-completion.

I get the following popup:
Problems during Content Assist
The 'org.eclipse.jdt.ui.JavaAllCompletionProposalC

[2011-09-07 10:25] nicholas22 commented on #1
Just to update, I have confirmed a few times that putting the vanilla lombok.jar back fixes the problem and when using lombok-pg.jar re-introduces it...

[2011-09-07 12:10] peichhorn commented on #1
Thanks for your feedback.
I've noticed this bug too and fix it few days ago.
I guess a should update the project jars.

[2011-09-07 12:24] nicholas22 commented on #1
Hi, thanks for your reply, I look forward to the update!

[2011-09-07 12:24] peichhorn commented on #1
Uploading as we speak, the file has still the same version literal '0.10.0' as I like to use the same version lombok releases with.

[2011-09-07 12:33] peichhorn commented on #1
Sorry shouldn't have closed the issue right away.
Please let me know if you still experience this behavior.

[2011-09-07 12:40] nicholas22 commented on #1
Yes there is still an issue. I'm downloading the lombok-pg-0.10.0 JAR (it says updated 15 mins ago so I assume that's the right one to download), but the same issue occurs.

I did an MD5 sum on the previous and the uploaded file and they are the same! Maybe the wrong one was inadvertently uploaded?

[2011-09-07 13:03] peichhorn commented on #1
I've uploaded it again, just in case I really screwed up there.

[2011-09-07 13:45] nicholas22 commented on #1
I'm getting the same MD5 on the lombok-pg-0.10.0.jar (from https://github.com/peichhorn/lombok-pg/downloads) as the version I downloaded before submitting this issue. This either means that the JARs were up to date already and this is a bug on the latest version, or that something else is going on (perhaps I'm downloading the wrong thing)

[2011-09-07 13:48] peichhorn commented on #1
Can you try again, please? I just added a potential fix.

[2011-09-07 15:03] nicholas22 commented on #1
Could you also update the JAR? I'm not building from source. The current 0.10.0 version has the same MD5 as before opening this issue (hence it does not have the fix). Many thanks for your help!

[2011-09-07 15:18] nicholas22 commented on #1
Whoops: wrong button. Re-opened this issue...

[2011-09-07 16:34] peichhorn commented on #1
I've uploaded it already, are you sure they have the same md5?
Cause md5sum (linux command) gives me two differende checksums.

[2011-09-07 17:03] nicholas22 commented on #1
Maybe I'm doing something wrong. I've tried http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.0.jar and https://github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.0.jar and they both give me an MD5 of a92aea1481c94a6450cc91b73a9bbc0e which is what I've been seeing all day. If this is the update, I'm still getting the error message, unfortunately.

[2011-09-07 17:16] peichhorn commented on #1
Just downloaded the file again and got: f67221016e1669aa5aa0d7d960235dd2 MD5

[2011-09-07 18:30] nicholas22 commented on #1
I just got home and my openSuse gives a different MD5 (not the one you mentioned). Anyway, I tried it and it works! Let me try it on my work PC and let you know how it goes there. Many thanks!

[2011-09-08 08:00] nicholas22 commented on #1
Yes! It works :)

[2011-09-08 08:00] #1 closed, assigned to nobody

[2011-09-08 12:47] nicholas22 opened #2 "Functional feature request"
In your experience, how hard would it be to create a method annotation that wraps said method within a specific anonymous class?

I am using a LINQ re-implementation for Java (that I wrote, link: https://github.com/nicholas22/jpropel/blob/master/src/propel/core/utils/Linq.java#L2519) and I think this would make the use of most things like selectors and filters much more concise.

So this annotatio

[2011-09-08 19:34] peichhorn commented on #2
Once we nail down how this annotation should work, it's pretty straight forward.

Let's say we go for the annotation @Function and we simply count the method parameter to find out which version of FunctionWithXXXXArgumentX to use.
I'm not quite sure how FunctionWithOneArgument or even FunctionWithTwoArguments (let's assume they are interfaces) come into play, does the lombok user provide them? And

[2011-09-09 08:08] nicholas22 commented on #2
Using @Function as you suggest is even better from an end-user perspective. There could also be @Action, for methods rather than functions. The implementation could easily identify the number and class type of arguments via reflection.

As for the interfaces, they could be part of lombok, can't we use de-lombok for this purpose? Another approach would be for lombok to generate them somewhere in ap

[2011-09-11 16:51] nicholas22 opened #3 "Retry"
I have another suggestion, how about a "retry" construct, only callable from a catch block, which would allow a try block to be repeated, as you may have provided some kind of solution within the catch block. Perhaps an overload with the number of retries would also be beneficial, when e.g. attempting to do some networking task, such as connecting to a database.

The implementation could be done u

[2011-09-13 10:22] nicholas22 opened #4 "Data(callSuper=true/false)"
In many instances when dealing with class inheritance, there is boilerplate in lombok annotations, because the &#64;Data annotation cannot be used. The reason for this is that it does not allow for equals, hashcode and toString to specify whether to call super implementations of these methods or not. So end users have to use @Data in a superclass, then for any subclasses they have to use &#64;Equa

[2011-09-13 16:56] peichhorn commented on #4
I would even say, that @Data(callSuper=true) should generate constructors that call the appropriate super-constructor.
So lets say the superclass has a no argument constructor and a two argument constructor, while the subclass, annotated with @Data has three required fields. Now @Data should generate 2 Constructors in the subclass one that takes 3 arguments and calls super() and the other one that

[2011-09-13 16:57] peichhorn commented on #2
Just a quick feedback, I'm already playing around with this stuff, but it may take a while until I'm satisfied.

[2011-09-13 17:02] peichhorn commented on #3
Until now I never had to do this, but a simple loop should be sufficient for this, or am I missing something:

boolean retry = true;
while(retry) {
  retry = false;
  try {
    ...
  } catch (...) {
    ...
    retry = true;
  }
}

[2011-09-13 17:17] nicholas22 commented on #2
Nice :) That's great news! Feel free to use me as a tester.

[2011-09-13 17:20] nicholas22 commented on #3
Yes, it's not very hard to do manually as you showed, but it does look somewhat ugly, especially if you're retrying for a set number of times, as you need a counter as well. It's less about reducing boilerplate, rather it introduces a pattern of how to do things. It's a concise 'nice-to-have', not a major feature, along the lines of e.g. the tuple feature.

[2011-09-13 18:18] nicholas22 commented on #4
I would welcome this, although calling the default super constructor would be more than enough for most of my use-cases, because any special invocations can be implemented as required. The aim for me is to stick to just using the @Data annotation, rather than having to use the other ones too, when developing POJOs. It makes it easier to grasp for other developers.

[2011-09-19 21:32] nicholas22 commented on #2
bump!

[2011-09-19 21:32] nicholas22 commented on #4
bump!

[2011-09-20 07:43] peichhorn commented on #4
Just updated the [lombok-pg-0.10.0.jar](http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.0.jar), which supports @Data(callSuper=true). The default value is false, because this is the default value for both @ToString and @EqualsAndHashCode.
For now @Data(callSuper=true) only affects @ToString and @EqualsAndHashCode. I will add support for @XXXConstructor later.
Furthermore this

[2011-09-20 08:09] peichhorn commented on #2
Just updated the [lombok-pg-0.10.0.jar](http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.0.jar), which supports @Function. If you don't configure it otherwise you will have to add [lombok-pg-runtime-0.10.0.jar](http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-runtime-0.10.0.jar) as a runtime dependency since it contains the function interfaces.

A small example:

[2011-09-20 19:03] nicholas22 commented on #2
Holy crap! This is very nice work indeed! :D

Yes, the only problem is the auto-completion in eclipse. It happens when lombok.Function is imported.
But it otherwise works as expected. I am so enthralled by this! I'm doing a presentation about Scala for a fairly large audience and I want to suggest that lombok-pg's functional stuff as a nice alternative if people don't want or can't use Scala for p

[2011-09-20 19:05] nicholas22 commented on #4
It appears to work fine on my machine, I will run it for a day or two at work where I have much more code that uses this as well as a very robust JUnit harness, to see if there are any issues. I'll make sure to close this when that's done. Many thanks for this!

[2011-09-20 19:09] peichhorn commented on #2
One thing I'm going to add to `@Function` before I close this issue is this:
Any parameter that starts with "_" will work as a constructor argument for the anonymous function class.
What do you think about that?

Of cause I will tackle the Auto-Completion bug as soon as I can.

[2011-09-20 19:21] peichhorn opened #5 "@ExtensionMethod and type-parameter"
For now this does not work, which is pretty sad:

[code]

[2011-09-20 19:24] nicholas22 commented on #2
As a convention, the underscore prefixing is predominantly used in Microsoft environments so it sounds like a good choice to me.

[2011-09-20 19:29] nicholas22 commented on #5
Ah, this is so similar to Option&lt;T&gt; of Scala... Yes it would be a nice addition to this fantastic library!

[2011-09-20 19:32] nicholas22 commented on #5
Isn't this going to work if you substitute T with Object?

[2011-09-20 19:35] nicholas22 commented on #5
I realise now that if you substitute every T with Object in the Objects class, you then have to downcast to use orElse(), which is a bit of a pain...

[2011-09-20 19:40] nicholas22 commented on #5
However, this workaround will work for any class type. There is the obvious risk of a CCE, but the context _should_ make things obvious. You still need to downcast...

class Objects {
&nbsp;&nbsp;&nbsp;@SuppressWarnings("unchecked")
&nbsp;&nbsp;&nbsp;public static &lt;T&gt; T orElse(Object value, T orElse) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return value == null ? orElse : (T)value;
&nbsp;&nbsp;

[2011-09-20 19:59] peichhorn commented on #5
For now these workarounds might be alright, but I really need to add proper support for type-parameters.

[2011-09-20 21:43] nicholas22 commented on #5
Looking at the decompiled version of a vanilla/statically called Objects.orElse(null, "test"), I see that the compiler has added an explicit cast, e.g.:

String name=null;
String s = (String)Objects.orElse(name, "123"); // String cast inserted by compiler!

Perhaps you could do this as well upon encountering a generic type (e.g. T, G, etc.) especially since you have the know-how of implementing th

[2011-09-20 21:54] peichhorn commented on #5
Yeah the internals of 'val' should be a good starting point to fix this.

[2011-09-21 09:02] nicholas22 commented on #4
Works without a hitch ;)

[2011-09-21 09:02] #4 closed, assigned to nobody

[2011-09-22 07:47] peichhorn commented on #5
Quick update:

@ExtensionMethod works with

[code]

What's left to do:
- Support stuff like `T[]`, `List<T>`, `Iterable<T>`

[code]

(`@ExtensionMethod`, `@Function` and `Yield.yield(...)` work so well with one another. I like it)
- auto-complete breaks code, example:

[code]

results in:

[code]

(I think I've just used the wrong method to calculate the length of the completion snippet)

[2011-09-22 08:00] peichhorn commented on #2
Quick update:
- the CCE in the Auto-Completion is no longer.
- parameters whose names start with an underscore will not be used as function parameters but rather handled as fixed values for every execution of the function.

If there is still something missing, please let  me now.

[2011-09-22 08:56] peichhorn commented on #2
damn I found a small issue, eclipse complains about this:

[code]

cause it stands for this:

[code]

and as you can see the return statement can never be reached, so eclipse brags on about it.

Edit by nicholas22: You can work around it if you declare "justThrowAnException" with Void, instead of void!

[2011-09-22 13:31] nicholas22 commented on #5
This is great stuff :)
Let me play around a bit today/tomorrow...

[2011-09-22 19:35] nicholas22 commented on #5
I tried the first example and I'm getting:

Exception in thread "main" java.lang.VerifyError: (class: main/Main, method: main signature: ([Ljava/lang/String;)V) Incompatible argument to function
Could not find the main class: main.Main.  Program will exit.

I'm just doing this:

@ExtensionMethod(Objects.class)
public class Main
{
&nbsp;&nbsp;&nbsp;public static void main(String[] args)
&nbsp;&nbsp

[2011-09-22 19:41] peichhorn commented on #5
I get the same error. The fun fact is, that decompiled the class looks OK.

Update:
this works:

[code]

I look into it, can't be that hard.

[2011-09-22 19:45] nicholas22 commented on #5
Hahahahaha very funny indeed! That's software right?

...Just a thought, the verifier maintains a pre-compiled symbols table so
maybe you are changing something that it is looking for?

On Thu, Sep 22, 2011 at 8:41 PM, Philipp Eichhorn <
reply@reply.github.com>wrote:

[2011-09-22 19:48] peichhorn commented on #5
I just ran the code with netbeans and it works, so it's only the eclipse part, that is messed up. Yay only half the work.

[2011-09-22 19:51] nicholas22 commented on #2
wow this works VERY nicely. Will try out some more Functions. I'm already thinking about migrating all the functional stuff I have written to this, the syntax is so ...sugary!

[2011-09-22 20:01] nicholas22 opened #6 "var"
As the val keyword is now implemented, how hard would it be to implement a var keyword, which does not mark the field as final? This would bring parity to Scala's operators val and var.

[2011-09-22 20:11] nicholas22 opened #7 "SneakyThrows affects the Eclipse code editor"
I don't know if you have noticed before, but the SUPER-useful annotation @SneakyThrows, affects the coloration of the Eclipse code editor in the code immediately after it. Somehow, eclipse believes that portions of the file are what seems to be text (instead of code). I have uploaded a screenshot... here: http://i54.tinypic.com/2ivbkzk.png

The right colors can be seen near the end of the code in

[2011-09-22 20:32] nicholas22 opened #8 "NPE checking annotation"
How many times do we have to check for NPE, just so that we catch the null reference early on? Wouldn't it be nice to have an annotation that is applicable to method such as:

@NullCheck
void test(String first, String second) {
}

It could throw a new NullPointerException("first") or new NullPointerException("second"), provided the argument named can be captured...

[2011-09-22 20:39] peichhorn commented on #7
Yeah this is a known issue of lombok. It has something to do with the position-information you give the "hidden" AST-Elements.

[2011-09-22 20:43] nicholas22 commented on #7
Would be nice to have a look if it can be fixed at some point, because it
prevents type lookups (e.g. following a type's
implementation/super/interface/etc. when you shift+click) as well, which is
not great when you're doing reviews...

On Thu, Sep 22, 2011 at 9:39 PM, Philipp Eichhorn <
reply@reply.github.com>wrote:

[2011-09-22 20:44] peichhorn commented on #8
Already done it:

[code]

I'm going to cook up some examples real quick. And again the documentation of lombok-pg is as bad as it gets. xD

[2011-09-22 20:45] nicholas22 commented on #8
Hah, nice stuff once again.
I'll try to contribute some but may need some help (a one-liner) on each of the undocumented ones, so I can go and create some more complex examples, because it's hard to document that which you are not aware of ;)

[2011-09-22 20:47] nicholas22 opened #9 "getter/setter in one go?"
I'm not sure if this has already been asked before (I suspect yes), but will put it out there anyway. It would be nice to say in one go that a field is a property:

@Getter
@Setter
private String name;

vs

@Property
private String name;

Note: I mean it with a capital, for some reason the at symbol mangles the text (github markup?)

[2011-09-22 21:03] peichhorn commented on #8
Just found a bug in the @Validate.With mechanism.. I will fix it real quick and post an example afterwards.

[2011-09-22 21:07] peichhorn commented on #8
[code]

Uploading as we speak...

[2011-09-22 21:14] peichhorn commented on #8
Here an example that all method-level annoations support @Sanitize and @Validate.

[code]

[2011-09-22 21:18] nicholas22 commented on #8
That's cool, but with strings being untyped it's easy to make mistakes e.g.
when refactoring. It would be nice to show warnings when the method is not
found.

On Thu, Sep 22, 2011 at 10:14 PM, Philipp Eichhorn <
reply@reply.github.com>wrote:

[2011-09-22 21:19] peichhorn commented on #9
Sure why not. Not the highest priority though, let's say I'm going to add this when I'm really bored or drunk. ;)
But I might change the annotation name to `@GetterAndSetter`.

[2011-09-22 21:21] nicholas22 commented on #9
Why don't you like property? It's shorter and less VB-like :P

On Thu, Sep 22, 2011 at 10:20 PM, Philipp Eichhorn <
reply@reply.github.com>wrote:

[2011-09-22 21:22] peichhorn commented on #8
If you rename the method you should get a compile Error at the first line of the file, saying: `The method emailCheck(String) is undefined for the type
TestValidation`. But your right I could improve this.

[2011-09-22 21:23] nicholas22 commented on #2
For some reason the @Function doesn't work well in Netbeans. Do I have to do some kind of installation, like I had to do in Eclipse? It's my first time using lombok in Netbeans. Simples stuff like getters and setters seem to work... Here is what I'm doing:

public static void main(String[] args) {
&nbsp;&nbsp;&nbsp;String[] names = new String[] { "abc" };
&nbsp;&nbsp;&nbsp;select(names, toUpperCas

[2011-09-22 21:26] peichhorn commented on #9
Namespace pollution-wise I don't want to waste the word property just yet.
How about `@Accessors`

[2011-09-22 21:27] peichhorn commented on #2
No, for now I don't patch anything in netbeans.

[2011-09-22 21:28] nicholas22 commented on #2
Sorry I didn't understand what you mean, do you mean you don't port this patch to Netbeans yet? I didn't realise it's a two-phase thing what you have to do...

[2011-09-22 21:29] nicholas22 commented on #9
Also @AutoProperty ;) or @AutoProp is not bad...? I would go with Property really, because that's what it is, but @Accessors is not bad either.

[2011-09-22 21:45] peichhorn commented on #2
Ah sorry let me explain real quick. Basically lombok supports the Java Compiler (javac) and the Eclipse Compiler (ecj). And for now all the features have to be implemented in both worlds, because these compilers work rather different. To support some advanced features in eclipse lombok and lombok-pg have to perform some nasty tricks. I find that a lot of stuff is easier add to javac (which in retu

[2011-09-22 22:08] peichhorn commented on #6
To implement this you have to find all the assignments to the `var` object and find a common supertype, so you can do something like this:

[code]

where var gets resolved to `List`.
The thing is you can't find the 'right' type all the time even in scala you have to provide a type in some cases.

So I could certainly add 'var', but I'm going to push it back a little until some other features are a

[2011-09-23 09:29] nicholas22 commented on #8
Tried the @Validate on a constructor and it says it is not valid for that location. Is this a feature or a bug? :)

[2011-09-23 09:39] nicholas22 opened #10 "VisibleForTesting example please"
I'm trying to use @VisibleForTesting, so I annotate a private/internal method with it, but do not get public access to it. Surely I must be doing something wrong because I'm not sure how to use it properly. Many thanks!

[2011-09-23 10:11] peichhorn commented on #8
It's a bug. Apparently I forgot to add ElementType.CONSTRUCTOR to @Validate and @Sanitize. whoops

Fixed it real quick. Thx for spotting that.

[2011-09-23 10:17] nicholas22 commented on #6
No problem, thanks

[2011-09-23 10:31] peichhorn commented on #10
This is how it is supposed to work:
You relax the visibility of a method or a type as much as you need to access them in tests and annotate them with @VisibleForTesting. Now in Eclipse you will only be able to access these methods and types from classes whose names contain 'Test'. In Javac the methods and types will just be declared as private, so you can't use @VisibleForTesting in Netbeans. Sinc

[2011-09-23 11:14] nicholas22 commented on #10
I'm using Eclipse and creating an instance method e.g.:
  @VisibleForTesting
  void test123() { // package access level
  }

From a different package in a class called SomethingTest I attempt to access via an instance, e.g.:

new MyClass().test123();

but I'm getting an error that the method is not visible. I thought that this would work...?

[2011-09-23 15:39] nicholas22 opened #11 "Matchers"
Using similar functional goodness along the lines of @Function, one can envisage a construct which allows for matching to be made easier in Java. For example instead of having messy if-then-else branches nesting deeply and becoming unreadable, you could have something leveraging some construct like 'switch' (or its syntax), like this:

match(code) {
case success(): return "Success";
case notFound(

[2011-09-23 15:52] nicholas22 commented on #2
You're doing a great job, it's not 100% bug free, but what software really is?

[2011-09-23 16:00] peichhorn commented on #10
Thats not how it work, sorry if I was unclear about it.
You have to make the method `test123()`  visible, so that the Test can access it. In all the other non-test classes you wont be able to access `test123()` since @VisibleForTesting virtually reduces the set visiblity to `private`.

[2011-09-23 16:05] peichhorn commented on #11
I would love it, but sadly all lombok features have to some how get past the java parser. Sadly your proposed code is no valid java, so this can't possibly work.

[2011-09-23 16:05] nicholas22 commented on #10
Oh I see, thanks for the clarification.

[2011-09-23 16:05] #10 closed, assigned to nobody

[2011-09-23 22:49] nicholas22 commented on #2
Hi Philipp,

Just stumbled upon a tricky one ;)
I was trying to do this:

@Validate
    public static &lt;T&gt; List&lt;T&gt;[] test(@NotNull final T[] values, @NotNull final T delimiter)
    {
        List&lt;List&lt;T&gt;&gt; parts = new ArrayList&lt;List&lt;T&gt;&gt;();
        return where(parts, elementsExist()).toArray(); // imagine toArray exists here...
    }

[code]

  @Validate
    publi

[2011-09-23 23:21] nicholas22 opened #12 "For loop Yield problem"
I'm getting some strange error messages when trying to implement the following snippet:

[code]

[2011-09-23 23:23] nicholas22 commented on #12
Worked around it using something like this:

[code]

[2011-09-23 23:31] nicholas22 commented on #11
I see, for the time being I will close this, maybe I can come up with some other, more valid syntax, in the near future...

[2011-09-23 23:31] nicholas22 commented on #5
OK please see if you can fix it, as we both use eclipse xD

[2011-09-23 23:32] nicholas22 commented on #7
Actually type lookups work OK... It's just the highlighting...

[2011-09-23 23:32] nicholas22 commented on #8
Thanks!

[2011-09-23 23:32] #8 closed, assigned to nobody

[2011-09-24 09:07] nicholas22 commented on #2
I think it would be sweet if we could take advantage of the extra run-time information that functions have because they are implemented using anonymous classes. As you know, when using anonymous classes in Java you can detect the actual type parameters used. This is not possible with concrete classes due to type erasure. The advantage of knowing the run-time type is _huge_ when dealing with e.g. g

[2011-09-24 10:41] peichhorn commented on #12
Yeah when I try it out I get " The literal -1 of type int is out of range". The reason for this is, that yield gets transformed to an anonymous iterator containing a state-machine.
See the example: http://peichhorn.github.com/lombok-pg/Yield.html
Now the case pattern is initially "-1" and gets replaced by the actual state number later. So this mechanism is somehow broken for your example, I will l

[2011-09-24 10:43] nicholas22 commented on #2
Just ran into a case where I'm limited without this:

[code]

As you can see TResult cannot be inferred without some type passing mechanism...

[2011-09-24 10:51] nicholas22 commented on #2
To clarify that last line, I'm trying to something like this:

return result.toArray((TResult[])Array.newInstance(function.getReturnTypeParameter(), length));

This is because you can't do TResult.class, or new TResult[], etc. due to limitations. Hence why I need the type to be detected (which can be done upon the function instantiation)

[2011-09-24 10:57] peichhorn commented on #2
Yup I totally see the need. I just need to collect my thoughts on that and then I will let you know my ideas.

[2011-09-24 11:13] nicholas22 commented on #2
Hehe sry ;) wrote a few posts in a matter of minutes, not trying to bombard you or anything, just a bit excited with this! :)

[2011-09-24 14:39] nicholas22 commented on #12
I've got a similar one for when you're looking this stuff:

[code]

Workaround:

[code]

[2011-09-24 15:31] nicholas22 commented on #2
Another one to mull over is whether it's worth detecting Boolean return types and potentially using the value type boolean instead of Boolean to avoid boxing/unboxing and unnecessary heap allocations, as there may be a lot of functions that simply act as predicates:

static &lt;T&gt; boolean isNotNull(T item)
{
&nbsp;return item != null;
}

[2011-09-25 01:50] peichhorn commented on #5
@ExtensionMethod finally works as advertised, so enjoy

(updated the lombok-0.10.0.jar and made sure that the upload was compete this time xD)

[2011-09-25 08:11] nicholas22 commented on #5
Thanks that's great!

[2011-09-25 08:52] nicholas22 commented on #2
Hi Philipp, just wondering if you've had some preliminary thoughts on how to go with the design of this. The reason I'm asking is that I have time today (Sunday) to do some more porting work but I'm getting to the point where I need to decide whether to mock that there is support on the interface(s) or do I take another route with methods that require type information.

[2011-09-25 10:28] peichhorn commented on #2
I would go with you second suggestion so adding the getter methods to the interface and poll the run-time info on demand, as I like to think of it as an advanced use case, that one doesn't have to do that often.

Yeah you could and use an initializer block to initialize them, like this:

[code]

But back to the real problem.
The part where I'm currently stuck right now is how to work this stuff in

[2011-09-25 11:06] nicholas22 commented on #2
The return type is enough for some simple/common use cases, like e.g. the zip() one I mentioned above, or mapping/filtering, but when using more advanced stuff, e.g. function composition and monads, it would become necessary to pass argument type information, if for example you're instantiating/returning an array, as the argument type basically is used as the return type.

Both approaches you have

[2011-09-25 11:25] peichhorn commented on #2
Ok the first one it is. I will add the getters for the type info asap, although I'm crying a little bit inside right now. xD

As for the predicate problem, I think I can live with the boxing and unboxing simply because I wouldn't use the @Function stuff in real performance critical situations.

[2011-09-25 11:38] nicholas22 commented on #2
That's very helpful. Don't feel bad, you have just enabled higher order functional compositions ;D

As for the functional performance I wouldn't be very dismissive of your work myself, I've been looking closely at reverse engineered Scala code and the basis of their functional features are ...anonymous classes, which is what we have here! :)

Benchmarks show that performance-wise Scala is on par w

[2011-09-25 12:01] nicholas22 commented on #2
Just a question about using @Function with closures, is it at the moment possible to pass arguments to the generated functions?

[2011-09-25 13:28] peichhorn commented on #2
do you mean something like this:

[code]

Or do you want to change `_prefix` from time to time, because this does not work for now?

[2011-09-25 13:56] nicholas22 commented on #2
No what you showed is exactly what I mean. So we have closure support ;)
I didn't realize this was already included on the version I'm using.

Mutating the _prefix is not allowed by the compiler, in fact it has to be declared as final, but this as you know can be easily circumvented by a wrapper containing the _prefix object, which would be passed instead of the _prefix object itself. So I wouldn'

[2011-09-26 09:01] nicholas22 opened #13 "@FinalClass"
Not sure how feasible this would be, but many times a final class needs to mocked. So what do you do? You can remove the final keyword (which breaks your design), you can create an interface and use that (which is more work and proliferates class count) or you can either use something like PowerMock to re-write the classes for you (which forces you to migrate your tests if you're using something e

[2011-09-26 10:22] nicholas22 commented on #7
Partial workaround: manually moving the @SneakyThrow-ing method higher up the code, e.g. from line 100, to line 10. This helps because everything above it gets the 'color-blindness' effect, but everything below maintains the right coloration... (Eclipse)

[2011-09-26 11:44] nicholas22 opened #14 "@Data(callSuper=true) constructor"
Could the @Data(callSuper=true) also call the superconstructor?
@Data generates, I believe, an all args constructor, so it would be natural to do so for the subclass, calling the super constructor too in the beginning of the newer constructor, I should think.

Example:

@Data
class A {
private final String a;
}

class B {
private final String b;
}

// we should be able to do
A a = new A(a);
B b =n

[2011-09-26 16:03] peichhorn commented on #14
No `@Data` uses `@RequiredArgsConstructor`, but I will have to make changes to `@AllArgsConstructor`, `@RequiredArgsConstructor` and `@NoArgsConstructor` where:
- `@RequiredArgsConstructor(callSuper=true)` means: create constructor for each super constructor and all my non-initialized final fields
- `@AllArgsConstructor(callSuper=true)`  means: create constructor for each super constructor and all

[2011-09-28 09:26] nicholas22 commented on #2
I'm getting a minor bug, when a type is unused in a file and you use it within a @Function block, the Eclipse IDE Ctrl-Shift-O (auto-import) does not discover it. In fact, if you have imported it and do auto-import as above, it is actually removed from imports!!! Workaround at the moment is to not use Ctrl+Shift+O...

Edit: Another minor bug, you can't throw checked exceptions within @Function blo

[2011-09-28 11:09] peichhorn commented on #2
Thx, I will fix the exception handling for checked exceptions.

The auto-import is a whole different story and extremely hard to fix.

[2011-09-28 12:43] nicholas22 commented on #2
Hmm, I was afraid this would be the case. I'm hoping that looking at how it's done in constructs such as @SneakyThrows (where essentially the code is again wrapped into something else) could yield some ideas on how to tackle this, as it could be a pain in the long term.

[2011-09-28 12:50] peichhorn commented on #2
I totally forgot about the "fixed" position info in @SneakyThrows, @CleanUp and @Synchronized.
So it might be doable, but I'm sure it will break other minor eclipse features. I guess this is something I just have to try out.

[2011-09-28 16:50] nicholas22 commented on #2
Just came across a case where @Action would be nice to have: A method accepts a Function1&lt;T, Void&gt; and its overloaded version accepts Function1&lt;T, TResult&gt; (i.e. when you have a case where the function returns something and another does not return anything (void)) the type erasure of these two methods is the same, so you must rename the method instead of overloading.

[2011-09-28 17:04] peichhorn commented on #2
So you want something like this:

[code]

Once I'm done with @Function @Action should be done in no-time.

[2011-09-28 17:54] nicholas22 opened #15 "Improvement to @NotNull error message"
The @NotNull validation error message is a bit vague, so you have a function with like (say) 10 arguments and whichever one fails throws an "IllegalArgumentException: The validated object is null."

Firstly I wonder if it would be possible to throw a NullPointerException instead? It is after all a null reference and people expect that as an exception. This is only for @NotNull, the other @Validate

[2011-09-28 19:10] peichhorn commented on #15
Expecting an NPE or an IAE depends largely on your taste and on the code you have worked with.
The current implementation behaves like org.apache.commons.lang.Validate.notNull(Object object).
And what you suggest looks a lot like the null-check I know from intellij IDEA.
I with defiantly improve the exception message so that it includes the argument index. When it comes to
throwing an NPE instead

[2011-09-28 19:43] peichhorn commented on #15
After a small google session I pretty much got nowhere. I noticed that google guava uses NullPointerExceptions in these cases. Josh Bloch recommends to throw NullPointerExceptions. After reading the javadoc of NullPointerException it sounds acceptable to throw an NPE.
Still there are two camps, the ones that prefer a NullPointerException and the ones that like a IllegalArgumentException.
For now y

[2011-09-28 21:03] peichhorn opened #16 "How to deal with checked Exceptions in @Function and @Action"
For now it is not possible to throw checked Exceptions inside a method annotated with `@Function`.
The known workaround for this issue is the usage of @SneakyThrows.

One way to support checked Exceptions would be to copy list of thrown Exceptions to the 'apply' method.
But for this to work we need to change the interface signature like this:
`public R apply(T1 t1, T2 t2, ..., TN tn) throws Except

[2011-09-29 07:04] nicholas22 commented on #15
Wow, nice research there :)

My opinion was just based on gut feel and a bit of feedback from others. Having read all this I think there should be an NPE thrown for @NotNull, because it is like a special case of invalid argument, which would be nice to signify in a strongly typed manner, with this special exception describing it. The InvalidArgumentException could still be there for when e.g. a va

[2011-09-29 10:02] #5 closed, assigned to nobody

[2011-09-29 10:02] #15 closed, assigned to nobody

[2011-09-29 21:32] peichhorn commented on #2
I've added support for `@Action` and type getters, so I will close this issue.
If you stumble over anything please create a new issue instead of reopening this one.

[2011-09-29 21:32] #2 closed, assigned to nobody

[2011-10-01 08:10] nicholas22 opened #17 "@Function and @Validate combo bug"
Using @Validate and @Function on a method gives you a compiler warning: duplicate @SuppressWarnings annotation. Hopefully they can be made to detect when this annotation has already been emitted and avoid doing so in this case.

[2011-10-01 08:13] nicholas22 opened #18 "@ExtensionMethod bug"
1) Once a method is used, chaining further methods (in a fluent API style) does not give you code completion.
You can continue chaining things, but you need to remember the API to do e.g:

names.map(toUpperCase()).filter(isNotNullOrEmpty()).etc.etc.

2) Would it be possible to have the compiler warn you when you're forgetting to pass arguments to methods? e.g:
names.filter(); // compiles but throw

[2011-10-01 08:15] nicholas22 opened #19 "@Validate on constructor"
Using @Validate and @NotNull in e.g. a single arg constructor. If the constructor has to call super (in its first line of code of course) there is a problem with javac/Ant due to first call not being to super constructor! This is not a problem with eclipse though. My suggestion (which is not ideal) is that for javac a check could be made to emit the code after the call to the super constructor.

[2011-10-01 08:27] nicholas22 opened #20 "@Function (still) affects eclipse code editor"
This is similar to the @SneakyThrows coloration issue https://github.com/peichhorn/lombok-pg/issues/7 but for @Function. It would be quite nice to somehow correct this is possible, as the code effectively becomes similar (but thankfully not identical) to when you open a text file in eclipse (colors are lost).

[2011-10-01 08:32] nicholas22 commented on #16
In my opinion it's better to use SneakyThrows for the (few) times you need them than to force Exceptions everywhere... Will need to ponder a bit more.

[2011-10-01 08:36] nicholas22 opened #21 "@Function eclipse auto-import"
I'm getting a minor bug, when a type is unused in a file and you use it within a @function block, the Eclipse IDE Ctrl-Shift-O (auto-import) does not discover it. In fact, if you have imported it and do auto-import as above, it is actually removed from imports!!! Workaround at the moment is to not use Ctrl+Shift+O... Idea: have a look at how @SneakyThrows does it (you mentioned some fixed position

[2011-10-01 09:22] nicholas22 opened #22 "@Action does not generate Action0 actions"
I think the @Action annotation does not correctly generate Action0 actions:

Action0 action = doNothing() // compilation error

@Action
public static void doNothing() {
}

This works with Functions and at the moment the workaround is to re-write the method as such:

public static Action0 doNothing()
{
&nbsp;&nbsp;&nbsp;return new Action0()
&nbsp;&nbsp;&nbsp;{

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@

[2011-10-01 13:49] peichhorn commented on #22
Um Action0 should actually work.
The thing is that I didn't want to allow @Action and @Function on empty methods.
But if you need do define stuff like doNothing() then I will relax this restriction.

[2011-10-01 14:13] peichhorn commented on #17
Since all other lombok-pg method-level annotations implicitly trigger the parameter validation (same thing @Validate does), I just need to introduce this behavior for @Function and @Action.
@Validate and @Sanitize are meant for all the methods not annotated with lombok-pg stuff at all.
But to guarantee that methods will only get one @SuppressWarnings("all") is the list as well.

[2011-10-01 14:14] peichhorn commented on #19
Will do thx

[2011-10-01 15:32] nicholas22 commented on #22
I don't understand why I'm getting this in Eclipse then:

  @Action
  public static void doNothing() {
  }

  @Action
  public static String doSomething(String a) {
    return a+"+something";
  }

  @Function
  public static String doSomething2(String a) {
    return a+"+something";
  }

[code]

[2011-10-01 15:34] nicholas22 commented on #17
So you mean that all lombok-pg annotations do a @Validate and @NotNull on all arguments by default?

[2011-10-01 16:10] peichhorn commented on #17
@Validate just tells lombok-pg to look at the parameter annotations, so if it finds @Validate.NotNull it will create a null check for that parameter. Now @DoPrivileged and all the other method-level annotations will also tell lombok-pg to look at the parameter annotations. But I forgot to do the same think with @Function and @Action. Quick example:

[code]

(sorry, I really need to work on my expl

[2011-10-01 16:16] peichhorn commented on #22
Damn I totally removed the return statement. This is how an action looks like now, whoops:

[code]

will be fixed asap

[2011-10-01 16:48] nicholas22 commented on #17
Oh OK gotcha, no problem then, so once that's done let's close this one. I'll put this in the documentation. Don't forget to create the placeholders (html files) for me to edit!

[2011-10-02 14:02] #17 closed, assigned to nobody

[2011-10-02 15:14] #19 closed, assigned to nobody

[2011-10-02 15:23] peichhorn commented on #18
This won't be so easy as the other issues I fixed today, but I'm on it.

[2011-10-02 17:33] peichhorn commented on #18
OK now you get a halfway decent compile error, example:
`String s = foo.orElse();`
generates:
`The method orElse(T, T) in the type Objects is not applicable for the arguments (String)`

Is this message acceptable?

[2011-10-02 20:13] nicholas22 commented on #18
Sure, anything is better than runtime exception :)

[2011-10-02 20:13] #18 closed, assigned to nobody

[2011-10-02 21:26] nicholas22 commented on #22
This doesn't work still, I'm getting: @lombok.Action can be used on concrete methods only

[2011-10-02 21:44] peichhorn commented on #22
Let me guess, the action method is empty.. I forgot to relax the restrictions on that. Initially I planned that @Action and @Method require a method body, but If you need NOP actions I must allow them.

[2011-10-02 22:06] peichhorn commented on #22
ok now actions and functions can have empty bodies, so

[code]

all the way

[2011-10-03 09:13] nicholas22 commented on #22
Haha funny ;P
I know you haven't hit a usable case yet, but imagine that for instance you have a matcher, implemented with functions, where the default action is to throw an exception due to no match. Some cases need a noop to control the flow and avoid hitting the exception. I hope it's clear enough, I will post the matcher code tonight probably.

[2011-10-03 10:40] nicholas22 opened #23 "Newest edge release has eclipse autocomplete bug"
Hi Philipp, the latest edge release causes an auto-completion error (observed on a static method call on a class not imported yet). This does not appear to be happening for instance methods. Reverting to Friday's release for now.

!MESSAGE java.lang.NullPointerException
!STACK 0
java.lang.NullPointerException
    at org.eclipse.jdt.internal.compiler.parser.Parser.getMethodBodies(Parser.java:8689)

[2011-10-03 12:17] peichhorn commented on #23
For now I'm unable to reproduce it. Could you provide a small example.

[2011-10-03 12:37] nicholas22 commented on #23
Sure.
1) Create a new project,
2) reference the edge lombok.jar
3) Ensure the edge lombok is used as eclipse agent.
4) Restart eclipse
5) Create a package called test, create a class called Test in it
6) Create a package called main, create a class called Test1 in it
7) Add a public static void main(String[] args) to Test1.
8) Without importing Test in Test1, inside the main write Test and press d

[2011-10-03 12:56] peichhorn commented on #21
After a quick look the main difference is, that none of the lombok transformation generate anonymous or inner classes and that is why Ctrl+Shift+O works. Ctrl+Shift+O also works in @WriteLock which is structure-wise very similar to @SneakyThrows.
This means this issue is caused by the fact that the content of the annotated method will be moved inside a anonymous or inner class.
Well it's a start,

[2011-10-03 13:01] peichhorn commented on #23
Did everything step by step, but no such 'luck', everything worked fine..

[2011-10-03 13:09] nicholas22 commented on #23
Hmm I can consistently reproduce it, let me upload it somewhere when I get the chance

[2011-10-03 18:17] nicholas22 commented on #23
I've sent you an email

[2011-10-03 19:18] peichhorn commented on #23
Thx, I tried it but couldn't reproduce the stacktrace you posted above, but I got this one (which I've already fixed but not uploaded yesterday):

[code]

I've uploaded a new file where said fix is present. Now everything works fine, like I said earlier this day.

[2011-10-03 19:30] nicholas22 commented on #23
OK I will test the latest in the coming week and see if it persists... Thanx

[2011-10-03 19:35] peichhorn commented on #23
Thing is I'm still interested in the stacktrace you posted above, because this NPE you got there is really, really weird and could only mean that the eclipse parser was not properly initialized, which again is really, really weird. Maybe I don't the same stacktrace because I use a different version of eclipse.

I'm using:

Version: Indigo Release
Build id: 20110615-0604

Which version are you usin

[2011-10-03 19:45] nicholas22 commented on #23
It's the same:

Eclipse IDE for Java Developers
Version: Indigo Release
Build id: 20110615-0604

On Mon, Oct 3, 2011 at 8:35 PM, Philipp Eichhorn <
reply@reply.github.com>wrote:

[2011-10-03 19:48] nicholas22 commented on #23
Hmm I got this consistently replicated across multiple PCs so I wonder what the deal is ...

[2011-10-04 20:56] nicholas22 commented on #23
Closing this, fixed in the latest version :)

[2011-10-04 20:56] #23 closed, assigned to nobody

[2011-10-04 21:02] nicholas22 commented on #2
I forgot to add to this: Thank you so much! :)

[2011-10-06 10:05] #22 closed, assigned to nobody

[2011-10-06 15:35] nicholas22 opened #24 "@ExtensionMethod and anonymous class"
Anonymous classes cannot be annotated with Java annotations. This prevents extension methods from being used in  anonymous classes, because annotating the 'parent' with @ExtensionMethod does not do the trick. Is there a way around this? Thanks.

[2011-10-06 18:21] peichhorn commented on #24
It appears that I'm traversing the source tree upward until i find the first type declaration. This is pretty bad for anonymous classes and only a pain to use for inner classes. But it should be not that hard to look at the entire type hierarchic, so I will fix this right away.

[2011-10-06 21:03] nicholas22 commented on #6
Bump! This is almost identical to val, without the final semantics. It doesn't have to be super clever ;)

[2011-10-07 06:59] #24 closed, assigned to nobody

[2011-10-07 07:04] peichhorn commented on #24
As always I've uploaded a new lombok-pg.jar (edge release)

[2011-10-07 08:16] nicholas22 opened #25 "javac support for @ExtensionMethod"
I'm running a continuous integration server which is Ant-based and the javac compiler does not work with @ExtensionMethod. How difficult would it be to port the ecj implementation to javac for this particularly cool annotation?

[2011-10-07 08:20] nicholas22 opened #26 "static val TEST = "test""
The val keyword does not work with static final field declarations, it's not a big deal but would be nice to have ;)

[2011-10-07 09:03] peichhorn commented on #25
This is weird since I'm using automated integration tests for all the extensions and everything looks fine.
It's possible that I messed up the resolved types, because that's about the only thing in javac I can't cover with the unit test.

[2011-10-07 09:05] nicholas22 commented on #25
I thought it might be weird, it could be the crappy vcs we are forced to use, I will flush everything and try again then let you know. Thanks.

[2011-10-07 09:12] peichhorn commented on #25
Since I couldn't let it go, I did a quick test in Netbeans with JDK 1.6,  1.7. And what can I say, they both love `@ExtensionMethod`. xD

[2011-10-07 09:19] peichhorn commented on #26
Yeah for some reason val is only allowed on local declarations (so in methods). Not sure if this can be fixed, but I guess this was intentional. Long story short, it can't hurt to look into it.

I found this old discussion about allowing val on fields:
http://groups.google.com/group/project-lombok/browse_thread/thread/91749fd8992fe8e2/e38961ba7ed52e4b

So eclipse will be the fun part? Well let's s

[2011-10-07 10:32] nicholas22 opened #27 "Check @ExtensionMethod algorithmic complexity"
When using multiple classes with @ExtensionMethod, the time taken for Ecilpse auto-completion to appear is increasing in what seems to be exponential rate. Could you have a look if there is any bottleneck which causes this?

It would follow that as you add more classes, the time taken for the auto-completion list to populate would increase linearly. But this is definitely not the case... With basi

[2011-10-07 10:45] peichhorn commented on #27
The way it is implemented I would have expected a linear complexity as well.
Guess I have to do some profiling.

[2011-10-07 14:31] nicholas22 commented on #27
Hmm seems possible that it's a plugin then. Will re-open if this re-emerges...

[2011-10-07 16:11] nicholas22 commented on #25
Yes there is a problem unfortunately, the good news is I've narrowed it down quite a bit (I hope). The problem occurs when using extension methods 1) within super constructor calls and 2) static final fields. Examples:

1) super(name, new Character('A').to(new Character('Z')).join(new Character('1').to(new Character('9'))).toList()
2) private static final char[] ALPHABET = new Character('A').to(ne

[2011-10-07 17:43] peichhorn commented on #25
Good job, I will look into it. Btw really nice examples.

[2011-10-07 20:16] nicholas22 commented on #25
Ah thanks :)
Feel free to use it: https://github.com/nicholas22/jpropel-light

[2011-10-08 08:29] nicholas22 opened #28 "Yield(er) unused warning(s)"
Yield generates a field for caught exceptions that could potentially be annotated with @SupressWarning("unused") to prevent eclipse to emit a warning about its lack of use:

Warning: The value of the field $YielderOfType.cce is not used

Code:

[code]

[2011-10-08 12:22] peichhorn commented on #25
As always I've uploaded a new lombok-pg.jar (edge release)

[2011-10-08 16:16] nicholas22 commented on #6
I've started work on this. It should be a nice intro into what's going on inside lombok. Let's hope I can implement it so that you can focus on more important things ;)

[2011-10-08 17:39] peichhorn commented on #6
Very nice, if you need a quick tour through the lombok and lombok-pg code-base, let me know.

[2011-10-08 17:47] nicholas22 commented on #6
I wanted to ask but thought maybe not bother you, if you can, that would be very welcome :)

[2011-10-10 11:23] nicholas22 commented on #25
I think this is not fully fixed for some reason, i'm getting:

[12:19:28]: [javac] error: Lombok annotation handler class lombok.javac.handlers.HandleExtensionMethod failed on MyClass.java: java.lang.NullPointerException
[12:19:28]: [javac] java.lang.NullPointerException
[12:19:28]: [javac] at lombok.javac.handlers.ast.JavacResolver$2.resolveMember(JavacResolver.java:50)
[12:19:28]: [javac] at lom

[2011-10-10 11:24] nicholas22 commented on #25
I don't think I used to get this error in that class before, I hope it can be fixed by tomorrow otherwise I'll be forced to pull @ExtensionMethod usages from our project :'(

[2011-10-10 15:11] peichhorn commented on #25
I will definitely look into this after work.

[2011-10-10 15:15] nicholas22 commented on #25
That's very re-assuring :) thanks!

[2011-10-10 20:46] peichhorn commented on #25
This looks like a major bug in lombok. My guess is this is related to [issue 281](http://code.google.com/p/projectlombok/issues/detail?id=281) . So let me update lombok to 0.10.1 real quick, maybe this does the trick already.

[2011-10-10 21:12] nicholas22 commented on #25
OK I hope it works :)

[2011-10-10 21:51] peichhorn commented on #25
Guess what? That did it. New jar coming to you soon. ;)

[2011-10-10 23:02] peichhorn commented on #25
OK new file is up, now please, please tell me that it works. ;)

[2011-10-11 08:31] nicholas22 commented on #25
Damn, OK that has broken @Data and @Getter/@Setter unfortunately, i.e. I have lost my getters and setters. It's probably my fault for asking it in such short notice. Just take your time, I'll postpone extension methods until its properly done for javac :)

[2011-10-11 08:47] peichhorn commented on #25
Damn I accidentally left some work-in-progress stuff in the @Data handler, while creating separate patch-files of my local lombok changes. Give me 10 minutes and the new file are up.

[2011-10-11 09:03] peichhorn commented on #25
Files are up. If it's too late I'm sorry. Guess I should run all the tests of lombok and lombok-pg with the jar files in the future before uploading them.

Quick note on what happened as it is a nice opportunity to give some details about the guts of lombok:
Lombok annotation handers and all the other transformers are registered as service provider.
For example if you look into the file 'META-INF\

[2011-10-11 10:51] nicholas22 commented on #25
Seems to have done the trick and just in time ;)
Thanks very much Philipp!

[2011-10-11 10:51] #25 closed, assigned to nobody

[2011-10-12 15:53] peichhorn opened #29 "@Predicate"
Now that we have `@Action` and `@Function` why not add `Predicate`.
Since this is a no-brainer, maybe cleaning up the code base of HandleFunction and HandleAction is a good way to start.

[2011-10-12 19:14] nicholas22 commented on #29
As you can see (https://github.com/nicholas22/jpropel-light/blob/master/src/propel/core/functional/predicates/Predicates.java) I'm a big fan of predicates ;)

It would be nice to have them inherit of Function1<T, Boolean> no?

[2011-10-12 19:30] peichhorn commented on #29
Yeah it would be nice but sadly java doesn't allow primitive types as type arguments. So we have to do the same thing we did with actions. So it will be a pain in the ass to change an API from the use of Function to Predicate, since the method
signature changes. I should have introduced @Predicate together with @Function and @Action. :/

This will probably be the template for a two-argument predic

[2011-10-12 19:36] peichhorn opened #30 "Documentation"
Update the documentation and commit it in the gh-pages branch

[2011-10-12 19:49] peichhorn commented on #29
Correction (man I'm slow today ;) ): It is easily possible to inherit Function.
Same example as above, but it doesn't break existing API.

[code]

[2011-10-12 19:53] peichhorn commented on #29
But I would prefer the first solution. Maybe I will provide 2 templates: Predicates and PredicateFunctions (so that APIs that use Function<..., Boolean> still works)

[2011-10-12 22:32] nicholas22 commented on #29
Why do you prefer the first?

[2011-10-13 11:20] spuckydaslama opened #31 "NPE in PatchVisibleForTesting"
[code]

to reproduce

[code]

[2011-10-13 12:36] nicholas22 commented on #31
Which version are you using? I don't think this is an issue in the 10.0.1 release (at least for me), the EDGE is a bit more brittle as the latest stuff are put there for testing, as far as I know.

[2011-10-13 12:38] spuckydaslama commented on #31
im using the EDGE.
peichorn has recommended me EDGE and i guess he will fix this in a few hours ;)

[2011-10-13 13:02] nicholas22 commented on #31
good stuff =)

[2011-10-13 13:37] peichhorn commented on #31
sure thing, no pressure there :P

[2011-10-13 13:46] nicholas22 opened #32 "Extension methods should suppress base methods"
Before I go and rename all my methods to avoid clashes with built-in methods in String class etc. I wonder if this is expected behaviour or a regression:

I think I used to be able to use methods such as split, compareTo, etc. as extension methods without a problem on e.g. String classes i.e. extension methods side-by-side with methods inherited by the class and eclipse seemed to work fine. Even i

[2011-10-13 14:47] peichhorn commented on #32
Yeah an extension method should supersede every other method. I wonder when I messed this one up :/

I think this is a behavior that should definitely make it's way into the documentation.

[2011-10-13 16:14] nicholas22 commented on #32
Ah phew, I was about to rename like 30000 methods or something ;P

[2011-10-13 18:54] peichhorn commented on #31
I've uploaded a edge release containing the fix, enjoy.
And kudos for finding this bug.

[2011-10-13 18:54] #31 closed, assigned to peichhorn

[2011-10-13 19:21] peichhorn opened #33 "Deploy project artifacts to maven central"
The idea is make lombok-pg more accessible to all the maven folks.

This still might need some investigation, but this should be a good place to start: http://nexus.sonatype.org/oss-repository-hosting.html

[2011-10-13 20:05] spuckydaslama opened #34 "@Builder for generic types"
I'd like to use `@Builder`. Would be nice to use it on generic types if even possible.

[code]

[2011-10-13 20:21] spuckydaslama opened #35 "SaveAction -> Format Source Code"
Formatting the source code as part of saving in eclipse (SaveAction) seems not to be working anymore, if lombok did his magic in a class. Organizing the imports still works btw and also, manually formatting(ctrl+f) works as well.

the following sample does not formatting anyhting on saving

[code]

.. without lombok in a similar class ..

[code]

[2011-10-13 20:53] peichhorn commented on #35
Yeah this is a known issue of lombok and pretty hard to fix, see [lomboks issue tracker](http://code.google.com/p/projectlombok/issues/list) for further information. You should even experience that some refactorings are not working on lombok annotated methods. On the plus side once you got rid of all the boilerplate, there is usually not that much left to refactor.

I leave this issue open, maybe

[2011-10-13 21:01] peichhorn commented on #32
I did some digging, actually up until now extension method never were able to supersede other methods.
So this is actually no bug, but I agree that this should be the desired behavior.
Changing the behavior for javac is pretty straight forward but doing it for eclipse might be a bit more work, so this has to wait till the weekend.

[2011-10-13 21:05] peichhorn commented on #34
Weird I thought this would already work. I will look into it.

[2011-10-13 21:57] nicholas22 commented on #32
OK so I'll leave the methods as are. I'm pretty sure it used to work, but it could be something else I was impressed with ;P

[2011-10-16 19:40] peichhorn commented on #34
`@Builder` should work with generic types now. I will upload a new edge release jar tomorrow morning, maybe I can include another bug-fix. If you need anything else, let me know.

[2011-10-16 19:40] #34 closed, assigned to peichhorn

[2011-10-16 19:49] spuckydaslama commented on #34
nice .. looking forward trying it out.

[2011-10-16 19:53] spuckydaslama opened #36 "@ListenerSupport supporting generic types"
I guess this is low priority, since most of the time one does not write generic EventListener.
I happened to write some generic views lately along with the corresponding EventListener.class which also was generic.

example:

[code]

[2011-10-16 20:02] peichhorn commented on #36
I will look into it.

[2011-10-16 23:01] peichhorn commented on #29
Added support for predicate which look nothing else than:

[code]

[2011-10-16 23:01] #29 closed, assigned to peichhorn

[2011-10-17 12:32] peichhorn commented on #36
Thought about it for a while and sadly I have to say: no can do.
It is simple impossible to specify or infer the types in a practical manner.

[2011-10-17 12:32] #36 closed, assigned to peichhorn

[2011-10-17 16:40] nicholas22 opened #37 "@Yield bug"
I'm getting incorrect (missing) values when using a yielder as such:

[code]

This is of a MultiMap<T, K, V> class, can provide more concrete code if necessary.  Have a look what's going on when you have some time because this works OK if I put these in a list and return them rather than yield. Maybe nested fors are a bit buggy?

[2011-10-17 17:15] peichhorn commented on #37
I've never tested yield with nested loops and other more complex use-cases, it's very likely that the state-machine is broken in these cases. (that's why it was categorized as highly-experimental xD )
 I will look into it, once I'm done with @ExtensionMethod stuff.

[2011-10-18 07:47] nicholas22 commented on #37
OK not a priority for me, but 'nice to have'

[2011-10-18 07:48] nicholas22 commented on #14
Just wondering how's the progress on this long standing issue xD

[2011-10-18 12:02] peichhorn commented on #14
Essentially it works, except for inner classes.

[2011-10-20 00:48] peichhorn commented on #37
Should work now, I will upload a new edge release tomorrow.
If it still doesn't work reopen this issue.

[2011-10-20 00:48] #37 closed, assigned to peichhorn

[2011-10-20 00:50] peichhorn commented on #28
Now exception field are annotated with @SupressWarning("unused") as you suggested.
I will upload a new edge release tomorrow.
If it still doesn't work reopen this issue.

[2011-10-20 00:50] #28 closed, assigned to peichhorn

[2011-10-20 00:51] peichhorn commented on #12
Should work now, I will upload a new edge release tomorrow.
If it still doesn't work reopen this issue.

[2011-10-20 00:51] #12 closed, assigned to peichhorn

[2011-10-21 12:33] peichhorn opened #38 "yield Iterator should be closeable"
And here is why:
http://www.nesterovsky-bros.com/weblog/2011/01/27/WhyYieldIteratorShouldBeCloseable.aspx

Thx to Vladimir Nesterovsky for pointing me to the blog post.

[2011-10-21 12:49] peichhorn opened #39 "improve iterator() method of yield"
[code]

This guarantees that the yielder will be initialized only once and not twice if possible.
For this make sure to also add a new initial state:

[code]

Thx again to Vladimir Nesterovsky for pointing this out.

[2011-10-22 08:03] #39 closed, assigned to peichhorn

[2011-10-23 12:39] #38 closed, assigned to peichhorn

[2011-10-23 21:54] peichhorn commented on #32
I've upload a new edge release that supports this functionality.
I worked through some test scenarios to verify that @ExtensionMethod doesn't regress after adding this feature, hopefully I didn't miss anything. If times allow it, please try it yourself and report back if anything behaves differently than expected.

[2011-10-23 22:55] peichhorn commented on #33
first step: issue OSSRH-2377

[2011-10-24 16:04] nicholas22 commented on #32
This is almost there, but at the moment suppresses methods of every type, even if not applicable to the type you're working with.

So if you have a Map and you use e.g. "contains" but there is an extension method "contains" applicable to String, lombok-pg uses the contains that applies to String, because it is an extension method, which is not correct. Probably there should be a check to suppress

[2011-10-24 16:22] peichhorn commented on #32
really? whoops... I'm on it.

[2011-10-25 08:02] nicholas22 commented on #32
Thanks ;)
Extension methods are almost completely supported which is great!

[2011-10-27 19:44] pdex opened #40 "@BoundSetter doesn't work for classes"
I'm not sure if I'm using this correctly, but

[code]

doesn't cause and property change events to fire, however

[code]

does cause property change events. I'm using lombok-pg-0.10.1-EDGE.jar.

[2011-10-27 20:47] peichhorn commented on #40
The issue here is, that you are using `@Data` together with `@BoundSetter`.
So `@Data` generates the plain old setters and when `@BoundSetter` gets handled, the handler notices that there is already a setter method for the property _name_ and does absolutely nothing. To clarify even further, `@Data` is just a shorthand for: `@RequiredArgsConstructor`, `@Getter`, `@Setter`, `@EqualsAndHashCode` and

[2011-10-27 20:57] pdex commented on #40
Thanks for the swift reply, I was wondering how well this played with `@Data`. I think my use case might be closer to:

[code]

[2011-10-27 20:57] #40 closed, assigned to nobody

[2011-10-30 20:01] nicholas22 commented on #27
I am seeing this at home as well now, so it's not the project I'm working on at work... Re-opening. To re-create is probably going to be hard, but the main things are a medium/large project and extension methods. The auto-completion takes unusually long time on certain classes. Worth investigating for presence of nested for loops or something like that...

[2011-10-30 20:06] nicholas22 commented on #27
I'm seeing it most frequently when using two extension method classes (my StringUtils, ArrayUtils) which contain like 60 methods each, maybe this helps...

[2011-10-30 20:40] nicholas22 commented on #27
Hmm restarting fixes it apparently, will see if it deteriorates soon...

[2011-10-30 22:23] nicholas22 opened #41 "No autoboxing using @ExtensionMethod"
Getting a successful compilation but then a run-time verify error when doing this:

[code]

Workaround:

[code]

[2011-10-30 22:31] nicholas22 opened #42 "Val bug"
Using dom4j library and that has some raw type usage, so I do this:

[code]

The attributes() method call returns a raw List, but I'm getting an error "propElement cannot be resolved or is not a field". Workaround: Changing the val to Object

[2011-11-01 11:25] nicholas22 opened #43 "@DeferredInitialization"
With all this auto-construction goodness, many times you want to initialise a field that depends on a field that is not yet initialised. For example:

[code]

A construct as the above would allow for this kind of post-construction processing, as at the moment this obviously is not possible. I think Getter(lazy=true) may be doing something like this on a property level...

[2011-11-01 21:55] nicholas22 opened #44 "@Validate eclipse auto-import bug"
When using the @Validate annotation and some other one beneath it, the one beneath it is not recognised when fixing imports. Example:

[code]

Workaround:

[code]

Fixing import works, I guess due to @SneakyThrows is above and as such not within the @Validate annotation scope... This has echoes of the @Function auto-import bug https://github.com/peichhorn/lombok-pg/issues/21

[2011-11-02 07:27] peichhorn commented on #43
I'm not sure, that I understood your request, so please correct me if I'm wrong.
Is this the result you would expect?

[code]

In this case I would like to change the annotation name to something like `@Constructor.Extension` or `@DeferredInitialization`.

[2011-11-02 14:03] nicholas22 commented on #43
Precisely that, yes. I personally prefer the second one but up to you ;)

[2011-11-02 15:47] nicholas22 commented on #41
Another one along the same lines:

[code]

java.lang.VerifyError: (class: SomeClass, method: <clinit> signature: ()V) Expecting to find object/array on stack

Workaround:

[code]

[2011-11-03 16:14] nicholas22 opened #45 "val and @ExtensionMethod"
I've spent the last 3/4 hours trying to track what's going on with a very serious compile-time bug, I hope this can be resolved in the near future. The reason I spent so much time is that this somehow causes the javac compiler to report an error (Compile failed; see the compiler error output for details) but the 'great' thing about it, there is not freaking compiler output, it just crashes or some

[2011-11-04 11:50] nicholas22 opened #46 "Exception stacktrace within @Validated method is invalid"
When a method that is annotated with @Validate throws an exception, the exception stack trace is not correct (in particular the line number). This could make debugging extremely tricky, because it points to the @Validate annotation always, instead of the actual line number. I wonder if there is some sort of magic we can pull to make line numbers work as expected...

[2011-11-05 19:15] nicholas22 opened #47 "@Data extension (with @NotNull)"
A nice to have: Ability to have @Data configurable somehow so null is not accept as argument in the generated @RequiredArgsConstructor. So a way to combine @NotNull with @Data is what I'm basically asking, as this is a fairly common use-case, which at the moment necessitates the explicit creation of a constructor, despite using @Data...

[2011-11-05 22:19] peichhorn commented on #41
Like you did in the second example another workaround for your first example would be:

[code]

So the issue here is, that the auto-boxing is not happening.

Note: This only happens in eclipse

[2011-11-05 23:07] peichhorn commented on #45
The main issue here is that the type of `handler` cannot be determined. At least this is the error I got when I tried your example in Netbeans. (which uses javac)
So if you set the type yourself it works just fine, try: `Method handler = Object.class.getDeclaredMethods()[0];`

The fun starts to determine why `val` does not work. Let me try right quick if it works with javac7. (EDIT: issue is still

[2011-11-06 11:12] peichhorn commented on #45
Interesting

this fails:

[code]

while this works:

[code]

And as you see this has nothing to do with `@Function`

[2011-11-06 20:32] nicholas22 opened #48 "@Runnable"
Something along the lines of functional programming, @Runnable would be a nice addition to avoid anonymous inner classes being sprinkled all over the place for small tasks that do not require a dedicated class. Example:

[code]

Then it would be nice to be able to do:

[code]

This would probably be quite easy given your knowledge of @Function ;)

[2011-11-07 17:38] MiguelGL opened #49 "Upgrade to lombok 0.10.4"
Project lombok recently upgraded to a 0.10.2 release, fixing some (and few IIRC) issues on it way. It would be nice to have lombok-pg synchronised to that new release.

Thanks for such a great library BTW!!

[2011-11-07 19:12] peichhorn commented on #49
Sure thing.

[2011-11-08 18:34] peichhorn commented on #47
You can already do this with:

[code]

But I see, that the coexistence of @lombok.NonNull and @lombok.Validate.NotNull is confusing and less than optimal.

[2011-11-08 18:37] peichhorn commented on #42
I could reproduce this pretty easily. So I think a copy of this issue should really end up in the issue tracker of lombok.

[2011-11-08 18:38] #16 closed, assigned to nobody

[2011-11-08 18:39] peichhorn commented on #16
Yeah let's stick to `@SneakyThrows`.

[2011-11-09 09:56] nicholas22 commented on #47
Would renaming it to lombok.Data.NotNull make things a bit clearer?

[2011-11-09 11:19] peichhorn commented on #47
I can't do that since `@lombok.NonNull` is a feature of lombok itself. So I'm really not sure if there is anything I can do.

[2011-11-13 11:19] peichhorn commented on #49
I had to upgrade lombok 0.10.3 (which as of 0.10.2 marks the edge releases between 0.10.2 and 0.10.4), see commit
[0d75d56fcef943d1a35f1169386830066371c12d](https://github.com/rzwitserloot/lombok/commit/0d75d56fcef943d1a35f1169386830066371c12d)

[2011-11-13 13:39] peichhorn commented on #35
fixed with the upgrade to lombok 0.10.3 including the usability fixes provided by Jappe van der Hel
see issue #49

I will let you now when I upload a new edge release.

[2011-11-13 13:39] #35 closed, assigned to nobody

[2011-11-13 14:16] peichhorn commented on #44
fixed with the upgrade to lombok 0.10.3 including the usability fixes provided by Jappe van der Hel
 see issue #49

I will let you now when I upload a new edge release.

[2011-11-13 14:16] #44 closed, assigned to nobody

[2011-11-13 14:16] peichhorn commented on #21
fixed with the upgrade to lombok 0.10.3 including the usability fixes provided by Jappe van der Hel
 see issue #49

I will let you now when I upload a new edge release.

[2011-11-13 14:16] #21 closed, assigned to nobody

[2011-11-13 19:23] nicholas22 commented on #21
Excellent, let me know

[2011-11-14 10:52] peichhorn commented on #46
Should be fixed now. Please try out the new [edge release](http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.2-EDGE.jar).

[2011-11-14 10:53] peichhorn commented on #35
Please try out the new [edge release](http://cloud.github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.2-EDGE.jar).

[2011-11-15 18:20] peichhorn opened #50 "Spice up @Cleanup"
Since yield iterators are Closeable now, it only makes sense to use @Cleanup with them, simple example:

[code]

For now this wouldn't work since Iterable itself has no "close" method, but what if we spice up the generated code. If the cleanup method name is "close" and the type of the annotated local declaration has not method "close", add this logic:

[code]

[2011-11-16 10:55] nicholas22 commented on #44
Tested and working on my end

[2011-11-16 10:57] nicholas22 commented on #42
Just wondering if you have opened an issue for this with upstream?

[2011-11-16 12:09] peichhorn commented on #42
No, I forgot about that, thanks for the reminder.

[2011-11-16 14:43] nicholas22 opened #51 "@ExtensionMethod with missing symbol"
The newest release introduces an NPE bug when using @ExtensionMethod and an unresolved/missing method, when said method is part of the class whose methods are used as extension methods:

Description Resource    Path    Location    Type
Internal compiler error: java.lang.NullPointerException at lombok.eclipse.agent.PatchExtensionMethod.resolveType(PatchExtensionMethod.java:157) CustomOutputAdapter.

[2011-11-16 15:34] peichhorn commented on #51
Sounds like a annoying bug.. I will look into it when I fix the other issues with @ExtensionMethod.

[2011-11-16 20:34] nicholas22 commented on #14
Confirming that it works on non-inner classes on my end.

[2011-11-16 20:41] nicholas22 commented on #11
This is valid Java syntax:

switch(code) {
case success(): return "Success";
case notFound(): return "Page not found";
default: return "Unknown";
}

You "just" have to hijack the "it's not a constant" error, perhaps by fooling it that it actually is a constant. Is this possible?

[2011-11-16 21:00] peichhorn commented on #14
Sorry to disappoint you, but constructor does not call the super constructor yet. (meaning the 0.10.2-EDGE release)
Since I didn't merge my local branch yet. So it shouldn't work right now.
Good news is, guess what I'm working on right now? ;)

[2011-11-16 21:11] peichhorn commented on #11
I can try, but I'm pretty sure the parser does not like this.

UPDATE: Weird both parsers seem to be OK with this, since they just expect Expressions.
                   I'm investigating this further on the weekend.

[2011-11-17 17:04] nicholas22 commented on #14
Uhm, I must making incorrect assumptions then, will look into it a bit more...

[2011-11-17 17:06] nicholas22 commented on #11
It would be nice if the _code_ variable must not be a compile-time constant as well ;)

[2011-11-17 18:11] nicholas22 commented on #46
This does not always work unfortunately

[2011-11-17 18:15] nicholas22 commented on #46
[code]

The stacktrace points to the @Validate annotation in this example, rather than within the 'abc()' method.

[2011-11-17 18:47] peichhorn commented on #46
Looking at the source code I would say that it works, but I will check it  once I get home

[2011-11-17 19:38] nicholas22 commented on #46
Oops I was using 0.10.1 in eclipse

[2011-11-17 19:38] #46 closed, assigned to peichhorn

[2011-11-18 14:15] mplushnikov opened #52 "maven repository upload"
Please upload the lombok-pg artifacts to a central maven repository!

[2011-11-18 15:14] peichhorn commented on #52
Ah yes, I plan on doing so, see issue #33.
But depending on how urgent this is, I can prioritize it higher.
Am I assuming correct, that you are the author of the lombok-intellij-plugin?
Knowing the documentation of lombok-pg is at the time pretty horrific,
just let me know if I can help you out with anything.

[2011-11-18 16:39] mplushnikov commented on #52
Oh, sorry I didn't see the issue #33. I close this as duplicate.
Yes, I'm author of intellij-plugin for lombok and got a question about support for lombok-pg. (http://code.google.com/p/lombok-intellij-plugin/issues/detail?id=12)
I like to work with maven and it would be really helpful to have lombok-pg in maven-central like lombok self.

[2011-11-18 16:39] #52 closed, assigned to nobody

[2011-11-18 21:12] #50 closed, assigned to nobody

[2011-11-20 10:02] nicholas22 opened #53 "@Weave"
It would be great to be able to specify some code to be executed before and/or after a method using code weaving instead of proxying, for performance-aware environments where even slight latencies prohibit the use of proxying techniques to achieve this. Example:

[code]

The argument in the example is the handler class (e.g. singleton) which would implement pre and post handler methods... They cou

[2011-11-20 19:04] peichhorn commented on #45
Should work fine now.
I've also tested the more complex example you posted above.

[2011-11-20 19:04] #45 closed, assigned to peichhorn

[2011-11-20 20:01] #51 closed, assigned to peichhorn

[2011-11-20 20:26] nicholas22 commented on #45
Thanks, so Ant should also work :)

[2011-11-20 20:30] peichhorn commented on #45
Ant, Maven, Netbeans,.. anything that uses javac..

[2011-11-21 00:08] #41 closed, assigned to peichhorn

[2011-11-21 00:28] peichhorn commented on #32
If the issue is still present, it would be nice if you could provide a small example to reproduce it, since I'm unable to do so.
If everything is fine, please close the issue.

New Edge release, just in case some recent changes fixed it:
[lombok-pg-0.10.2-EDGE](https://github.com/downloads/peichhorn/lombok-pg/lombok-pg-0.10.2-EDGE.jar)

[2011-11-21 08:12] ggtools opened #54 "@Builder should consider @NonNull annotations"
Currently @Builder check the attributes for the final keyword in order to find out the mandatory and the optional attributes. In some context (hibernate/JPA entities for instance), using final attributes is not an option (short version: hibernate builds the entities from a default constructor and then sets them using reflexion).

It'll be nice to have lombok-pk checking both the final keyword and

[2011-11-21 08:16] peichhorn commented on #54
Sounds reasonable.

[2011-11-21 08:19] peichhorn commented on #30
Let's use the github wiki instead of the github pages for this, so anybody how is willing may contribute content.

[2011-11-21 10:10] peichhorn commented on #33
see https://github.com/peichhorn/lombok-pg/wiki/Grab-the-latest-version

[2011-11-21 10:44] nicholas22 commented on #32
Will try the latest and let you know

[2011-11-22 09:55] peichhorn commented on #48
This does the trick:

[code]

I could rename the annotation method to `value`, since I'm pretty sure no one uses this yet (pretty advanced feature and badly documented). So you would end up with `@Action(Runnable.class)`.
I know, not as elegant as you want it to be. ;)

[2011-11-22 10:15] peichhorn commented on #54
The release (0.10.2) containing this fix will probably be eleased this Friday.

[2011-11-22 10:15] #54 closed, assigned to nobody

[2011-11-22 14:13] nicholas22 commented on #48
It works! I dont' understand how template works yet but learning... xD

[2011-11-22 15:19] ggtools commented on #54
That's great, thanks.

[2011-11-22 21:56] nicholas22 commented on #42
No problem, hopefully this is going to be resolved

[2011-11-22 21:57] nicholas22 commented on #32
This is working beautifully, job well done!

[2011-11-22 21:57] #32 closed, assigned to peichhorn

[2011-11-22 21:58] nicholas22 commented on #30
Note to self: contribute more

[2011-11-22 21:58] nicholas22 commented on #27
I still see this but it's a 'Heisenbug'...

[2011-11-22 22:00] nicholas22 commented on #7
Some people have complained about this to me. Not a major nuisance though. Any positional info magic to improve this?

[2011-11-22 22:01] nicholas22 commented on #13
I think examining Powermock may be a way to progress this. It's installed as a java agent, similarly to lombok.

[2011-11-22 22:16] peichhorn commented on #7
It is definitely an issue with the position info and annoys myself enough to get a high priority. So I will look into it soon. No promises though. xD

[2011-11-22 22:35] peichhorn commented on #30
I'm currently thinking about the structure of the feature documentation, here is how I imagine a feature to be explained:
1. few words about the feature (motivation, what it does, some references)
2. very compact example showing as much of the feature as possible, if not everything
3. detailed tour through example explaining what happens and why
4. explain some feature configurations not shown in

[2011-11-22 23:24] nicholas22 commented on #30
Very nice, the idea about having extra pages for combos is good.

[2011-11-22 23:25] nicholas22 commented on #48
Just noticed that the @Action has the Eclipse auto-importation bug present, perhaps should I open a separate issue

[2011-11-22 23:54] peichhorn commented on #48
No need, I have already fixed it in my local repo, since I stumbled over it as I was trying out the example I've posted.
I will probably push the changes tomorrow morning.

[2011-11-23 10:12] nicholas22 commented on #48
Sweet

[2011-11-23 10:12] #48 closed, assigned to nobody

[2011-11-23 10:51] peichhorn commented on #48
The files are up I've also fixed "Refactor > Rename" for method arguments that were annotated with lombok.Validate.NotNull, lombok.Sanitize.With and so on...

[2011-11-23 10:54] peichhorn commented on #49
Let's upgraded to lombok 0.10.4 before releasing on Friday.

[2011-11-23 11:15] #49 closed, assigned to peichhorn

[2011-11-24 05:30] abryzak opened #55 "@Cleanup without value is broken for non-Closeable classes"
After upgrading to the latest lombok-pg, `@Cleanup` is broken for classes that have a `close` method but don't implement `Closeable`. The following test demonstrates that `close` isn't called.

[code]

As a workaround, you can pass a `"close"` value to the annotation.

[2011-11-24 05:39] abryzak commented on #55
It also will complain about `IOException` not being caught.

[2011-11-24 17:41] nicholas22 opened #56 "Ivy repo doesn't work"
Referencing the Ivy repo produces an error:

Impossible to resolve dependencies of ...
unresolved dependency: com.github.peichhorn#lombok-pg;0.10.4-SNAPSHOT: not found

Produced when adding the following dependency:
&lt;dependency org="com.github.peichhorn" name="lombok-pg" rev="0.10.4-SNAPSHOT" /&gt;

[2011-11-24 18:03] peichhorn commented on #56
Make sure you use this pattern in you repo definition

[code]

NB: Should probably document this :/

[2011-11-24 18:12] peichhorn commented on #56
I'm not sure that the runtime artifact gets resolved in Ivy. I will try this out tonight and maybe change the name (or artifactId for the maven folks) to `lombok-pg-runtime`.

[2011-11-24 18:22] peichhorn commented on #55
I'm afraid that is no bug, but rather a somewhat expected side-effect of issue #50.
If you want `@Cleanup` to just call a method, you need to specify a method name now. So in your case:

[code]

Please not that this is valid in both lombok and lombok-pg.

If no method name is provided the assumption in lombok-pg is, that you want a cleanup block
for `Closeable`s. In this case the uncaught `IOExcep

[2011-11-24 19:21] nicholas22 commented on #56
how do I use the artifact pattern you specified above in Ivy?

[2011-11-24 19:32] nicholas22 commented on #56
I found out how but it still doesn't work :/

[2011-11-24 19:47] nicholas22 commented on #56
Searching for lombok in Maven Central only returns the plain lombok as well (and an intellij plugin) but no lombok-pg

[2011-11-24 20:35] peichhorn commented on #56
Um yeah I haven't released lombok-pg 0.10.4 yet. And only the releases will be on central after an auto-sync.
For now you should stick to these repos:

Snapshots: https://oss.sonatype.org/content/repositories/snapshots/
Releases: https://oss.sonatype.org/content/repositories/releases/

I let you know when the artifact is available on central (may take 1-2 days the first time, since I have to expli

[2011-11-24 20:50] peichhorn commented on #20
good news: https://github.com/jvanderhel/lombok/commit/4e831b05ec08399795d27c343b6324b5b6de3443

I will try this out right now and squeeze it into 0.10.4 if possible.

[2011-11-24 20:51] peichhorn commented on #7
good news: https://github.com/jvanderhel/lombok/commit/4e831b05ec08399795d27c343b6324b5b6de3443

I will try this out right now and squeeze it into 0.10.4 if possible.

[2011-11-24 21:03] nicholas22 commented on #20
=)

[2011-11-24 21:14] peichhorn commented on #56
This resolves everything properly:

[code]

[code]

But I have to distribute the runtime artifact under a separate artifactId. I let you know when it works.. (and of cause I will update the documentation)

[2011-11-24 21:34] nicholas22 commented on #56
OK I will use a local dependency for now and update when this stuff becomes a bit more stable. Please see if you can make it work as transparently as possible in the long run (even without the pattern) as this would be of great help to users.

[2011-11-24 21:37] peichhorn commented on #56
I will figure something out (till tomorrow) and provide a more detailed example configuration for Ivy.

[2011-11-24 22:56] abryzak commented on #55
If it's intended behaviour that's fine, just wanted to make sure as it caught me off guard.

[2011-11-24 22:56] #55 closed, assigned to nobody

[2011-11-24 23:48] peichhorn commented on #55
Yeah sorry for that.

[2011-11-25 01:00] peichhorn commented on #56
Tested it with both maven and ivy.. it works.. I fixed the documentation and added  a example configuration.
Btw, the trick was not to replace SNAPSHOT with a timestamps. Who knew? xD

[2011-11-25 01:00] #56 closed, assigned to nobody

[2011-11-25 01:55] peichhorn commented on #7
Guess what, it's fixed now.. xD (best news for me, yield looks fine)

[2011-11-25 01:56] peichhorn commented on #20
Ahh to bad.. everything else looks fine but @action, @function and @Predicate still need some work.

[2011-11-25 01:58] #7 closed, assigned to nobody

[2011-11-25 02:20] peichhorn opened #57 "fix PositionInfo of yield"
We still need to fix the position info for yield to allow refactorings and saveactions.

[2011-11-25 14:31] nicholas22 commented on #56
Thanks dude

[2011-11-25 21:31] nicholas22 commented on #11
Just chatted about this with colleagues and getting excited responses, as jdk7 is not within reach due to various constraints

[2011-11-25 21:34] nicholas22 commented on #56
Please initiate the process for the release repo if and when you can, as one of the requirements to being accepted is to be dependent on libs that are on release stage also ;0

[2011-11-25 22:46] peichhorn commented on #56
Sure thing, I'm just hunting down a javac bug of @EnumId that I found at my last testing session, before releasing the staged version. If I'm unable to solve this issue in 1-2 hours I will release 0.10.4 either way. And submit the sync-request shortly after.

Just so you know what nature this bug is, when compiling with javac I get a 'error: illegal forward reference' and I'm pretty sure the reaso

[2011-11-26 14:56] peichhorn opened #58 "@EnumId produces 'error: illegal forward reference'"
Only in javac my guess is the position info is messed up: see com.sun.tools.javac.comp.Attr search for "illegal.forward.ref".

[2011-11-26 15:21] peichhorn commented on #33
0.10.4 release is available at: https://oss.sonatype.org/content/repositories/releases

I'm requesting sync to maven central as we speak, but it may take a while, since it is the first time.

[2011-11-26 15:21] #33 closed, assigned to peichhorn

[2011-11-28 14:55] nicholas22 commented on #33
So you wouldn't take this version down as you add newer ones right? Is this your deployment model? I'm asking because we will need to depend on this stuff so it would be nice if there were some guarantees like that. ;)

[2011-11-28 16:01] nicholas22 opened #59 "@Delegate + Fix Imports = NPE (AST node)"
Just getting an AST node NPE when hitting Ctrl+Shift+O to fix imports when a @Delegate is used. Workaround: Fix imports without a @Delegate annotation, then add it and re-fix.

!ENTRY org.eclipse.jdt.ui 4 10001 2011-11-28 16:01:48.733
!MESSAGE Internal Error
!STACK 0
java.lang.reflect.InvocationTargetException
    at org.eclipse.jface.operation.ModalContext.runInCurrentThread(ModalContext.java:477

[2011-11-28 21:07] peichhorn commented on #33
Well of cause I won't touch the released versions ;). The only thing that gets frequently updated(whenever I feel like it)  are the snapshots. But that's nothing unusual.

[2011-11-28 21:12] peichhorn commented on #59
I will look into it. Pretty sure this bug got introduced with the lombok usability improvements. Shouldn't be too hard to fix.

[2011-11-28 21:29] peichhorn commented on #33
Not sure if you have noticed but all artifacts are now available on maven central. The search index will still need a few hours to list lombok-pg.

[2011-11-29 07:54] peichhorn commented on #59
I can't reproduce this with the HEAD of lombok. But the position info of delegate could use some work, since it's flooding the error.log. Same goes for yield. I will leave this issue open until I release a new SNAPSHOT and you have verified that it works.

[2011-11-30 11:26] nicholas22 commented on #33
Great :D

[2011-11-30 11:28] nicholas22 commented on #59
I'm pretty sure you're right. This wasn't a problem until I upgraded to the new 0.10.4 snapshot. Let me know, I can re-test when you have done some work with this.

[2011-12-01 11:28] nicholas22 opened #60 "@Validate not working on constructors with only a constructor call."
I am not able to annotate @Validate.NotNull on a constructor which calls super, in Eclipse. I get an error message: can only be applied to concrete methods. It works if the constructor doesn't call super.

[2011-12-01 14:43] mplushnikov commented on #33
cool, thx!

[2011-12-04 19:43] peichhorn commented on #60
Just fixed it.
I forgot that in the eclipse AST a constructor call (super(...) or this(...)) is not treated as a statement of the method body.

[2011-12-06 11:32] nicholas22 opened #61 "javac extension method issue"
Can't get some classes to compile when using extension methods:

[code]

[2011-12-06 14:42] peichhorn commented on #61
Could you provide a small example, please? This would help a lot, since this error usually indicates that the lombok ast is broken.

[2011-12-06 16:59] nicholas22 commented on #60
Works on eclipse, doesn't work on javac.

[2011-12-06 17:01] nicholas22 commented on #61
Tracked it down to the same code #45 https://github.com/peichhorn/lombok-pg/issues/45 that was recently resolved but now this fails with Ivy, so it's javac...

[2011-12-06 17:13] peichhorn commented on #61
Thanks, this gives me a place to start.

[2011-12-06 18:43] nicholas22 commented on #61
Many thanks for your help!

[2011-12-06 20:08] peichhorn commented on #60
Yeah, sadly I forgot to handle the this(...) construtor call in javac. This has been fixed now. Constructors with a super() call should have worked all along. I've added a test scenario and did some manual testing in netbeans.

Please verify that the issue is solved and close this issue.
(new edge release: 0.10.5-SNAPSHOT)

[2011-12-07 06:59] peichhorn commented on #61
I couldn't reproduce this issue, here is the code I've tested:

[code]

If I've missed something vital, please help me spice up the test scenario.

[2011-12-07 12:17] psysiu opened #62 "Transient for propertySupport"
When using @BoundPropertySupport it generates
`private final java.beans.PropertyChangeSupport propertySupport = new java.beans.PropertyChangeSupport(this);`
It would be nice (maybe optional) to generate using transient to avoid beans serialisation issues:
`transient private final java.beans.PropertyChangeSupport propertySupport = new java.beans.PropertyChangeSupport(this);`

This leads to property

[2011-12-09 00:23] nickspacek opened #63 "Annotation to add more object meta-data"
I'm not sure where to discuss ideas (didn't see a discussion group), but I was looking to write some code for passing queries to our service layer and thought how nice it would be to have a way to reference fields strongly, and got me thinking about how you have to rely on passing Strings through the Reflection APIs to get at class details.

It seems like Lombok might be able to generate something

[2011-12-09 00:45] nicholas22 commented on #63
Hmm, a nice idea indeed... Not trying to be too verbose, but clarity is important. How about:
Customer.methods.toString
Customer.properties.name
Customer.fields.age

To begin with, this could be just resolving simple methods (e.g. no args) and we take it from there.
This syntax is in line with e.g. Customer.class ... which is nice.

[2011-12-09 00:48] nickspacek commented on #63
I like that convention as well. Simple methods would be a good start, overloaded ones could be problematic but perhaps another annotation to configure the generated method name.

[2011-12-09 21:39] peichhorn commented on #63
I like the idea as well, but here are still some points we need to figure out first:
1. j.l.r.Fields have a mutable state (e.g. setAccessible(...)), so API-wise it might not be the best idea to expose them. But if this is no big issue for both of you, then I'm fine with it as well.
2. The access level is still an issue, look at this example:

[code]

resulting in:

[code]

We could prevent the j.l

[2011-12-09 22:37] nicholas22 commented on #63
Maybe if @ExposeMetaData is used then make them all accessible by default? (since this annotation indicates this intention of the author?) It could be as part of a static initializer block, which should get executed upon access of the static inner class, similarly to what you've done above. Great job by the way.

[2011-12-10 02:48] nickspacek commented on #63
Hmm, good points; maybe instead of exposing the private fields it would be
better to expose "properties", which could either be based on the Java Bean
specs or Lombok getter/setter. Perhaps exposing private fields could be
optional as part of this feature?

[2011-12-10 14:50] peichhorn commented on #58
Since this was a pretty critical bug, I'm deploying a new SNAPSHOT release.

[2011-12-10 14:50] #58 closed, assigned to peichhorn

[2011-12-11 20:55] nicholas22 commented on #60
Thanks

[2011-12-11 20:56] nicholas22 commented on #61
This is a bit complex to isolate but will give it a go when I find some time

[2011-12-11 20:56] #60 closed, assigned to peichhorn

[2011-12-11 22:38] peichhorn commented on #62
The PropertyChangeSupport field is now transient and gets initialized lazily. I didn't like the idea of using the readResolve method to initialize the field.
I've uploaded a new SNAPSHOT release, so you can try it out.

[2011-12-11 22:38] #62 closed, assigned to peichhorn

[2011-12-11 22:51] peichhorn commented on #43
Wouldn't it be nicer, if `@XYZArgsConstructor`, and therefore `@Data`,  triggers this behaviour? This would mean one annotation to worry about.

[2011-12-12 10:05] nicholas22 commented on #61
Please check your inbox, I've sent you some code with regards to this. Thanks.

[2011-12-23 16:05] nicholas22 opened #64 "Method awareness"
A fusion of the way that val and @Validate.NotNull are implemented could create a construct e.g. "SourceMetaData", that would allow for the method name and argument names (perhaps other things in the future too) to be known at run-time. This is to avoid performing reflection or (more error-prone) hardcode things like method names when doing logging/tracing...

[code]

I appreciate this can all be

[2011-12-23 16:10] nicholas22 commented on #20
I'm closing this. The position info looks much better now :)

[2011-12-23 16:10] #20 closed, assigned to peichhorn

[2012-01-02 22:40] MiguelGL opened #65 "Upgrade to lombok 0.10.6"
Project lombok recently released a 0.10.6 release, fixing some bugs and one memory leak problem when using it within NetBeans leading it eat up memory as if there was no such day as tomorrow.

Frequent IDE restarts are required to deal with the issue, and that makes NB+lombok-pg users (like me :) sad. It would be great to have a synchronized 0.10.6 lombok-pg release!

Thanks so much again for this

[2012-01-13 10:28] nicholas22 opened #66 "@ExtensionMethod with overloaded methods"
When there are two or more applicable methods, I think the logic at the moment just selects the first one. It would be nice to select the most appropriate one by examining the argument class types and checking if the two are assignable...

[2012-01-20 08:53] MiguelGL opened #67 "Consider skipping 0.10.6 milestone in favour of 0.10.8"
Project Lombok recently released the 0.10.8 version, shipping many bugfixes and stabilising some stuff from 0.10.2 up to this release. Please read about it on https://groups.google.com/forum/#!topic/project-lombok/zHiVOz1aFFg

It may be a good idea to skip lombok-pg's 0.10.6 and just move the pointer forward to synch with this new lombok 0.10.8. That's my suggestion.

Thanks again!

[2012-01-24 15:44] nicholas22 commented on #67
bump!

[2012-01-26 10:14] nicholas22 opened #68 "@Singleton bug"
This @singleton declaration does not instantiate the instance (it leaves it as null)...

[code]

[2012-01-26 10:20] nicholas22 commented on #68
Reverse engineered the above ConnectRequest class:

[code]

[2012-01-29 18:09] peichhorn commented on #67
Sorry for my absence, I'm on it.

[2012-01-29 18:11] peichhorn commented on #65
As you suggested I'm skipping 0.10.6 in favor of 0.10.8

[2012-01-29 18:11] #65 closed, assigned to peichhorn

[2012-01-29 21:42] peichhorn commented on #68
Thanks for the detailed bug report. It was easy enough to reproduce.
Funny enough the abstract source tree (and this is what the unit test check) looks like this:

[code]

So something messes it up later.. I'm on it.

[2012-01-29 22:42] peichhorn commented on #67
I have been testing lombok-pg with lombok 0.10.8 for a few days now.. and I couldn't find any regressions..

You can find a new snapshot release here:
https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.10.8-SNAPSHOT/

Once I've fixed some other major issues I will push out 0.10.8.

[2012-01-29 22:55] MiguelGL commented on #67
This is great news, I'll try the SNAPSHOT release and report back should I find any issues.

Thanks again, and congrats for the work, both lombok and lombok-pg are some real craftwork! (I even more realised that when trying to -of course unsucessfully :(- lern it and migrate myself).

[2012-02-02 23:19] lqd opened #69 "ast.ClassDecl and superclass generation"
Hey Philipp,

Am I missing something or ClassDecl doesn't have a method to set the superclass (even though the field exists) ? It does have the ones for super interfaces though.

So I added this to the class:

[code]

and voilà :)

[2012-02-02 23:37] lqd commented on #69
Oh btw, your ast makes writing Lombok handlers SOOOO much easier and more fun. Great job :)
The official lombok.ast looks interesting too.

[2012-02-03 05:33] peichhorn commented on #69
Hi there, thanks for letting me know.

In the long run I would like to use lombok.ast but before that it needs to be tightly integrated into lombok.

[2012-02-03 05:33] #69 closed, assigned to nobody

[2012-02-03 15:23] peichhorn commented on #68
The enum-style is broken as well, see:

[code]

Somehow the enum field is missing in class although the AST seems to be complete as well.... super weird..

[2012-02-03 15:57] nicholas22 commented on #68
Yes, I realised but didn't think of submitting that- sorry

[2012-02-07 22:35] nicholas22 commented on #67
Could not find the release on Maven, could we please close once available? :)

[2012-02-09 21:38] nicholas22 commented on #67
Still no release... Isn't this supposed to happen automatically once in snapshot? I'm checking at mvnrepository.com (not sure if that's correct...)

[2012-02-09 21:39] nicholas22 commented on #27
Haven't seen this in a while...

[2012-02-09 21:39] #27 closed, assigned to peichhorn

[2012-02-09 21:43] nicholas22 commented on #66
For instance, I have two methods as such:

[code]

When using @ExtensionMethod, on an array:

[code]

I get an error that toList() is not applicable to array and from the error message I see Eclipse is trying to apply the Collection<T> overload... Not sure if this example works as such, it depends as it chooses the first one in an alphabetically sorted list. The correct behaviour would be to perfo

[2012-02-10 05:06] peichhorn commented on #67
Sorry that I didn't read this earlier.
Snapshots are only available in the oss snapshot repository:

https://oss.sonatype.org/content/repositories/snapshots/

If you want to access the files directly, you can find them here:

https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.10.8-SNAPSHOT/

I try to squeeze in some bugfixes this weekend so I can roll out 0.10

[2012-02-10 18:33] nicholas22 commented on #67
Ah.. right, thanks for the clarification! The impression I had was that once in snapshot they sync automatically...

[2012-02-23 13:45] nicholas22 opened #70 "ScalaIDE breaks @AutoGenMethodStub"
I think @AutoGenMethodStub is not working as expected. I'm using 0.10.4 (release)

[2012-03-13 13:04] ribrewguy opened #71 "@Builder needs a pre-build method/override constructor"
I have to alter the data a bit on my object before completing the build. I cannot find a way to do so using the Builder annotation. For example, I have an email address field. I want to be able to verify the format of the address and hash the string before building the object. However, I cannot force this behavior. Previously I did so in my class's constructor which accepted a builder of my own cr

[2012-03-13 18:50] labbedaine opened #72 "@Builder causing the @Data not to work properly"
Calling the GETTER for the instanceVariable will return NULL instead of "Test".
Without the `@Builder` the getter will return "Test"

Here's a unit test to support the bug description.

[code]

Maven setup

[code]

Thank you!

[2012-04-01 15:42] #67 closed, assigned to peichhorn

[2012-04-12 16:27] rvakkada opened #73 "@Builder.Extension"
The example provided in Builder.Extension method withIdAndText are not really visible. I am not sure how they have to be used as the Builder.Example.$TextRef returns an instance of the builder already and there is not visiblity to call withIdAndText. Can you thorw some light.

Also is it possible to make the $Builder public so that we can use those builder to build all final classes at once

[2012-04-12 16:29] rvakkada opened #74 "How to build lombok-pg with a local version of lombok"
Let us say I want to make some changes to lombok and have this available to build lombok-pg. What is the procedure for that

[2012-04-12 16:30] rvakkada opened #75 "Any timeline for upgrade to lombok 0.11.0"
lombok-0.11.0 has simpflied the internals. Any timeline to move towards it

[2012-04-13 14:47] rolfw commented on #14
@peichhorn, I'm also interested in this feature. Your post suggests it's ready but not available for download yet. I've checked 0.10.8 and also cloned the master branch, just to be sure, but calling all super constructors is not there.

Can you share the code/jar? It would be a big time saver for me

[2012-04-13 17:55] rvakkada opened #76 "Add clear() Method to @Builder"
Is it possible to provide  a clear method in builder such that if we want to reuse the same builder instance such that we can reuse it

[2012-04-14 08:17] peichhorn commented on #14
I've not pushed the changes yet, since there still was a minor issue with inner classes, that I wanted to investigate first. But I'm working on it.

[2012-04-14 08:19] peichhorn commented on #75
I've already upgraded to lombok 0.11.0 on a local branch but since 2 tests are still failing, I would like to investigate them first.

[2012-04-14 08:41] peichhorn commented on #76
Well it would be easily possible to add a `clear()` method to the Builder, that would reset its field to the default values, but I don't see what big benefit this method would bring. I'm not sure which machines you are targeting but instantiating a new Builder is not that expensive.
It would be nice if you could explain your need for this method a bit more.

[2012-04-14 09:12] peichhorn commented on #73
With the annotation `@Builder.Extension` you mark a method, that you want to be part of the Builder. Though the method itself will not be part of the Class annotated with `@Builder` thats why I chose the private access modifier.

As for the example:

The interface `$TextDef` defines a method `$OptionalDef idAndText(String id, String text)` matching the signature of the builder extension. And since

[2012-04-14 09:27] peichhorn commented on #73
Possible of cause, but it does not make much sense. The idea of this Builder concept is, that the `$Builder` contains all the different methods to set the field values, while the different interfaces forces the user to specify values for the mandatory fields and allow him do specify optional values.
Another basic idea of this concept is that one should only able to specify one value per method cal

[2012-04-14 09:29] rolfw commented on #14
Thanks, I'll keep an eye out. Do you have a timeline in mind?

On 14 April 2012 10:17, Philipp Eichhorn <
reply@reply.github.com

[2012-04-17 15:28] rvakkada commented on #73
Is it possible to remove the $ in the buider classes and Interfaces.

-----Original Message-----
From: Philipp Eichhorn [mailto:reply@reply.github.com]
Sent: Saturday, April 14, 2012 5:28 AM
To: Vakkada, Rajkumar: IT (NYK)
Subject: Re: [lombok-pg] Builder.Extension (#73)

Possible of cause, but it does not make much sense. The idea of this Builder concept is, that the `$Builder` contains all the d

[2012-04-17 15:49] rvakkada commented on #73
Though the extension methods are available in the eclipse outline view. But they are not recognized by eclipse ecitor

[2012-04-19 00:55] peichhorn commented on #42
fixed with this commit: https://github.com/rzwitserloot/lombok/commit/3f408782de736a676ee19757894eb89c1f4ebf3b

[2012-04-19 00:55] #42 closed, assigned to peichhorn

[2012-04-19 01:04] peichhorn commented on #75
I've just committed the changes, still need to update the buildfiles though.

[2012-04-19 01:07] peichhorn commented on #70
Not sure if it is still relevant, but please elaborate on your comment. I need details, as it works for me. ;)

[2012-04-19 01:26] rvakkada commented on #75
Can u provide a quick notes as to how to build lombok-pg

----- Original Message -----
From: Philipp Eichhorn reply@reply.github.com
To: Vakkada, Rajkumar: IT (NYK)
Sent: Wed Apr 18 21:04:11 2012
Subject: Re: [lombok-pg] Any timeline for upgrade to lombok 0.11.0 (#75)

I've just committed the changes, still need to update the buildfiles though.

---

Reply to this email directly or view it on GitH

[2012-04-19 01:38] peichhorn commented on #75
If you haven't applied any changes to lombok it is a lot simpler once I've updated the buildfiles.

You build it exactly how you build lombok, by executing the ant target 'dist'.
If you have modified the lombok source, for instance via applying the patches
located in 'lombok-pg/src/patches', you need to make sure that the modified
lombok artifact ends up in the 'lombok-pg\lib\build' and 'lombok-pg

[2012-04-19 01:40] peichhorn commented on #74
see Issue #75

[2012-04-19 01:40] #74 closed, assigned to nobody

[2012-04-19 01:41] peichhorn commented on #73
Sadly this is a bug. I'm working on it.

[2012-04-19 01:43] peichhorn commented on #14
I'm aiming for this weekend, but no promises.

[2012-04-19 01:50] peichhorn commented on #73
Although I've intended not to allow the user to hold references to generated interfaces, I think you're right,
I should remove the $ from the interface names, since the awkward type name does not necessarily keep
the user from holding references. The awkward name merely signaled that is was discouraged.

[2012-04-19 02:25] rvakkada commented on #73
Thanks for the prompt replies

----- Original Message -----
From: Philipp Eichhorn reply@reply.github.com
To: Vakkada, Rajkumar: IT (NYK)
Sent: Wed Apr 18 21:50:22 2012
Subject: Re: [lombok-pg] Builder.Extension (#73)

Although I initially did not indented that the user holds references to generated interfaces I think your right,
I should remove the $ from the interface names.

---

Reply to this

[2012-04-19 06:31] peichhorn commented on #66
The main issue here is, that the method with the Collection was considered an applicable extension method for the Integer array.

Just verified it again, this issue was fixed a while ago.

[2012-04-19 06:31] #66 closed, assigned to peichhorn

[2012-04-19 06:41] peichhorn commented on #66
This is commit that fixed it: https://github.com/peichhorn/lombok-pg/commit/abca43ac9dcfb49eed123f3fb31f8b32c38a3226

[2012-04-19 08:18] ggtools commented on #71
Should be nice also to have a way to specify extra attributes in the builder to be used to call the constructor for the superclass.

[2012-04-19 08:24] ggtools opened #77 "Version 0.10.8 not available through maven"
Unless I missed something the only version available on the maven repositories is 0.10.4. Shouldn't version 0.10.8 available as well ?

[2012-04-19 11:21] peichhorn commented on #77
No, you didn't miss anything. There is a SNAPSHOT release of 0.10.8 available at
https://oss.sonatype.org/content/repositories/snapshots/ .
Since I made little progress during the time lombok 0.10.8 was released I'm skipping the 0.10.8 release in favor of 0.11.0 to keep up with the lombok version. I plan on releasing lombok-pg 0.11.0 this weekend.

[2012-04-19 11:22] #77 closed, assigned to nobody

[2012-04-20 08:14] rolfw commented on #14
Thanks Philipp, that would be awesome! Also, not expecting any :)

On Thursday, April 19, 2012, Philipp Eichhorn <
reply@reply.github.com>
wrote:

[2012-04-21 17:20] peichhorn commented on #68
The enum-style works now, see commit: https://github.com/rzwitserloot/lombok/commit/34a8a4a080e301f5490d273f1a3526902f864d9b

The fix for the holder-style still needs some work and won't make it into 0.11.0.
For now you will see an error marker in eclipse, warning you about this issue.

[2012-04-21 17:35] peichhorn commented on #70
Please reopen this issue if need be.

[2012-04-21 17:46] peichhorn commented on #59
works fine with lombok 0.11.0 => fixed

[2012-04-21 17:46] #59 closed, assigned to peichhorn

[2012-04-22 13:32] peichhorn commented on #72
Thanks for the detailed report, should be fixed now

[2012-04-22 13:32] #72 closed, assigned to peichhorn

[2012-04-22 13:42] labbedaine commented on #72
Thank you! :)

On 2012-04-22, at 9:32 AM, Philipp Eichhorn
reply@reply.github.com
wrote:

[2012-04-22 20:08] peichhorn opened #78 "@Builder should work with inheritance"
Would be nice to also have a way to specify extra attributes in the builder to be used in the superclass constructor call.

Or if the superclass has a builder it would be nice use this builder when creating the builder of the subclass.

[2012-04-22 20:10] peichhorn commented on #71
@ggtools I've put your request in a separate issue (#78)

@redijedi I still need to think about a decent way to enable the feature you described.

[2012-04-23 13:34] ggtools opened #79 "Missing dependencies when compiling"
When I retrieve a fresh copy of lombok-pg and I tried to create the eclipse project files ant ends up with the following error:

[code]

[2012-04-23 17:18] peichhorn commented on #79
I'm still working on some changes in lombok, for instance `@Data(callSuper=true)`.
Right after that, I will have a look at the buildfiles, since the customized lombok 0.11.0 version is missing, there as well right now. So I have it on the radar. But thanks for the heads-up.

[2012-04-23 17:20] peichhorn commented on #75
The progress of updating the buildfiles will be tracked in this issue: #79.

[2012-04-23 17:20] #75 closed, assigned to peichhorn

[2012-04-26 12:50] nicholas22 opened #80 "Implicit @NotNull for @RequiredArgsConstructor"
I was wondering if it would be possible to instruct @RequiredArgsConstructor (to start with) to implicitly apply a @NotNull-like effect. So something like @RequiredArgsConstructor(NotNull=true). At the moment there is some boilerplate induced by the fact that if you want your dependencies to be checked for null you have to write your own constructors. But I'm unsure as to whether this is best to b

[2012-05-01 11:47] tinne opened #81 "Dependency issue 0.10.8 -> 0.11.0"
The code heavily relies on the 0.11.0 experimental features of @Accessor, still, the build process tries to build against 0.10.8 - and fails.

It must be something more complicated than changing versions in buildScripts/ivy.xml, still I dont' understand: fixing just the version makes the script try to download from repo1.../projectlombok/org/lombok/..., fixing the order of org and projectlombok wr

[2012-05-01 11:49] peichhorn commented on #81
Thanks for reporting. I'm actually just working on it, since I plan to release lombok-pg 0.11.0 today.

[2012-05-01 13:46] peichhorn commented on #81
Merged into Issue #79

[2012-05-01 13:46] #81 closed, assigned to nobody

[2012-05-01 14:34] peichhorn commented on #81
I've just updated and tested the buildfiles. Everything works fine now.

[2012-05-01 14:34] peichhorn commented on #79
I've just updated and tested the buildfiles. Everything works fine now.

[2012-05-01 14:37] peichhorn commented on #14
Added `@Data(callSuper=true)` on this branch:
https://github.com/peichhorn/lombok/tree/Issue_19_@Data_needs_a_callSuper

So lombok-pg 0.11.0 will contain this feature.

[2012-05-01 14:37] #14 closed, assigned to peichhorn

[2012-05-01 18:39] rolfw commented on #14
Great! I'll check it out..

[2012-05-01 22:31] nicholas22 commented on #14
Many thanks!

[2012-05-02 15:44] ggtools commented on #79
Strange, I still have the same issue on those two files. Apparently there is an issue with repo1 which returns the pom from both artifacts gzipped. Switching to repo2 fixed the problem for me.

[2012-05-02 16:10] rolfw commented on #14
Working fine, thanks again!

On Wednesday, 2 May 2012, Nicholas T wrote:

[2012-05-03 15:44] nicholas22 opened #83 "SneakyThrows in constructor"
Seems that calling a constructor from another constructor in the same object prevents SneakyThrows from working properly:

[code]

The LBMSDMRawTimestamp object uses a checked exception in its constructor which I'm trying to sneak past.
Workaround: Use private static factory method local to this object...

[2012-05-04 21:39] peichhorn commented on #79
Thanks.

[2012-05-04 21:39] #79 closed, assigned to nobody

[2012-05-04 21:44] peichhorn commented on #83
I'm pretty sure that `@SneakyThrows` doesn't work for explicit constructor calls, since it surrounds the method body with
a try-catch-block and explicit constructor calls have to be the first statement in a constructor. I don't think there is anything we can do to make it work. Nonetheless I will look into it

[2012-05-04 21:55] nicholas22 commented on #83
Thanks mate- much appreciated. The workaround is simple enough so not a major blocker or anything.

[2012-05-05 18:56] peichhorn opened #84 "@Data(callSuper=true) does not work with initialized final fields"
Example:

[code]

Eclipse complains with: `The constructor Pojo(String, int, float, String) is undefined`

This only happens when SuperPojo and Pojo are part of the same project.

This should be the last bug that keeps me from releasing 0.11.0.

[2012-05-08 06:09] peichhorn commented on #84
Fixed in the feature branch of my lombok fork. Time to build and upload the lombok artifacts again.
Up-next testing lombok-pg 0.11.0 and releasing it.

[2012-05-08 06:09] #84 closed, assigned to peichhorn

[2012-05-10 08:09] ggtools opened #85 "Push 0.11.0 to central repository"
Everything's in the title ;)

[2012-05-10 12:18] nicholas22 opened #86 "@ToString/@Data performance"
Perhaps something to take up with up-stream, or develop within lombok-pg and then issue a pull-request.
The @ToString annotation (and @Data) concatenate object properties when toString() is called. It would probably be preferable to use a StringBuilder and avoid the performance and garbage hit.

[2012-05-11 12:02] ggtools commented on #86
The compiler is automatically converting string concatenations to StringBuilder operations. If you use jad to decompile a lombokized class you'll see that the toString is actually:

[code]

[2012-05-12 12:23] peichhorn commented on #85
Done, but it will take a few minutes till it appears on central.

[2012-05-12 12:23] #85 closed, assigned to peichhorn

[2012-05-12 12:49] peichhorn commented on #86
I don't see the issue myself, since the generated toString() method is just one huge (string concatenation) statement and therefore only one StringBuilder instance will be created. Naturally, if there were multiple lines (multiple statements) or even a loop, it would be a totally different story.

[2012-05-12 14:39] peichhorn commented on #85
Now it's on central.

[2012-05-14 13:17] nicholas22 commented on #86
Perhaps you are using javac, I'm not seeing StringBuilders used when de-compiling the lombokized class... Is this improved in a later version perhaps? I'm on 0.10.4...

[2012-05-14 13:29] peichhorn commented on #86
No this hasn't changed in a while. Are you using [JD](http://java.decompiler.free.fr/) ?

[2012-05-16 09:14] nicholas22 commented on #86
Yup, is there a known issue with it or something? And I actually only decompiled @Data, not @ToString. Will try the latest version and re-open if needed...

[2012-05-19 13:11] nicholas22 opened #87 "Action/Function performance improvement"
A simple way to improve the performance and garbage overhead of actions/functions that do not accept any argument (_arg) would be to implement them as cached objects, as they are not stateful (hence no need for a new allocation every time they are invoked).

[2012-05-19 13:40] nicholas22 opened #88 "val and yield()"
I'm getting an error when using val and assigning an iterable. The error message is difficult to trace because the line number is always "1", which is not the right one. Maybe an AST issue?

[code]

Error message:
The method iterator() is undefined for the type val, line 1 Java Problem

[2012-05-21 13:32] nicholas22 commented on #70
I'm using 0.11.0 and seeing an error message when using the following code within Eclipse:

[code]

Error messages: The type Blah must implement the inherited abstract method MouseListener.mouseClicked(MouseEvent)

(...and all the other public methods of the interface)

[2012-05-21 13:35] nicholas22 commented on #86
Easily re-producible with 0.11.0 and Eclipse...

[2012-05-21 13:40] nicholas22 commented on #70
The workaround I'm using is a @Delegate to an implementor class

[2012-05-21 19:49] peichhorn commented on #86
I'm pretty sure that [JD](http://java.decompiler.free.fr/) does some magic to recreate the string concatenation, but I'm going to look at it again. Old Decompiler like JAD display StringBuilder operations.

[2012-05-21 19:52] peichhorn commented on #87
Makes sense, will do..

[2012-05-21 19:58] peichhorn commented on #88
Thanks for the detailed report, I'm pretty sure issue is that `yield(..)` get's handled before `val`. Shouldn't be to hard to fix.

[2012-05-21 20:03] peichhorn commented on #70
Sorry I can't reproduce the issue with the code you've posted.

[2012-05-21 21:09] nicholas22 commented on #87
Thanks, this would avoid the heap allocation and really speed up things in tight loops :)

[2012-05-21 21:14] nicholas22 commented on #70
I'll send you an eclipse project to see if you can repro...
Using lombok-pg v0.11.0 and Java 1.6

[2012-05-22 08:06] ggtools commented on #86
Just made the test. I start with the following class:

[code]

Decompiling with jad give this version to `toString`:

[code]

While jd gives:

[code]

For the brave, the bytecode:

[code]

We clearly see that the compiler replaced the string concatenation with operations on a `StringBuilder` and that JD is doing a hell of a good job to reconstruct the initial concatenation ops from the `StringBuil

[2012-05-22 10:21] nicholas22 commented on #86
Nice detective work :) Thanks for clarifying. Did you compile this using Eclipse?

[2012-05-22 10:21] #86 closed, assigned to peichhorn

[2012-05-22 11:37] ggtools commented on #86
Yes I did compile it with Eclipse.

[2012-05-22 15:35] nicholas22 commented on #86
Cool thanks =)
Seems that Philipp was right all along.

[2012-05-22 20:02] peichhorn commented on #70
I took a look at the project you send me and everything worked fine.
I even installed the provided lombok-pg version located in the lib folder.

What eclipse version are you using? I've tried it with 3.6.0, 3.7.0 and 3.7.2.
Are you absolutely certain that you installed lombok-pg to the correct eclipse installation,
since the phenomenon you described sounds like lombok is not present at all.

I tak

[2012-05-23 08:34] nicholas22 commented on #70
How strange... This is what I'm using:

Eclipse IDE for Java Developers
Version: Indigo Release
Build id: 20110615-0604
Lombok v0.11.0 "Burning Emu" is installed. http://projectlombok.org/

I can use everything else such as extension methods, etc...

[2012-05-23 08:48] nicholas22 commented on #70
I downloaded and installed a fresh Eclipse copy and yea, it works.
No idea what's causing it, as everything else works. Could it be some other processor?
I have the Scala IDE 2.0 (with built-in scala 2.9.3-RC2) installed and in the past I had seen some interleaving with other processors, which I reported and they fixed. Do you have Scala installed?

[2012-06-06 21:38] peichhorn commented on #70
Oh sorry, totally forgot to answer that.. no I don't have Scala IDE installed.. I'm using IntelliJ IDEA for my scala stuff...

[2012-06-06 21:40] peichhorn commented on #83
As explained in my first comment, there is nothing we can do about it, sorry.

[2012-06-06 21:40] #83 closed, assigned to peichhorn

[2012-06-06 22:45] peichhorn commented on #88
The javac part is done. Sadly the eclipse part will be a lot harder to fix, but I'm on it.

[2012-06-07 08:15] nicholas22 commented on #70
OK- will wait for 2.9.3 GA and upgrade, to see if it persists. It's some Eclipse-related issue but a weird one huh?...

[2012-06-07 08:16] nicholas22 commented on #88
Thanks!

[2012-06-07 16:41] peichhorn commented on #70
Yeah it sure is.

[2012-06-07 22:30] #68 closed, assigned to peichhorn

[2012-06-07 22:55] peichhorn commented on #47
I'm going to merge this issue into issue #80.

[2012-06-07 22:55] #47 closed, assigned to nobody

[2012-06-09 15:22] peichhorn commented on #88
done

[2012-06-09 15:22] #88 closed, assigned to peichhorn

[2012-06-22 16:58] nicholas22 opened #89 "@Function compilation bug"
I'm getting a compilation error when building with Gradle, in a @Function annotated method:
(I believe it uses Javac though)

[code]

The work-around is to manually code:

[code]

The error I get is:

java.lang.NullPointerException
        at com.sun.tools.javac.comp.MemberEnter.getMethodEnv(MemberEnter.java:65
8)
        at lombok.javac.JavacResolution$EnvFinder.visitMethodDef(JavacResolution
.ja

[2012-06-22 21:01] peichhorn commented on #89
Thanks for the example. I will look into it.

[2012-06-22 21:24] peichhorn commented on #89
fixed it.. also added a test for this scenario.. man I really need to work on a concept of prioritizing lombok handlers..

[2012-06-22 21:24] #89 closed, assigned to peichhorn

[2012-06-22 21:36] peichhorn commented on #89
I've deployed a new [lombok-pg 0.11.1-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.11.1-SNAPSHOT).

[2012-06-25 08:37] nicholas22 commented on #89
That was quick! Thanks xD

[2012-06-27 10:10] nicholas22 opened #90 "@ImplicitConstructor"
Many times when designing for injection and immutability, there is a need to use final fields and pass arguments from sub-class to super-class constructors. More often than not, these are just pass-through arguments creating boilerplate in repeating constructors. It would be nice to have an @ImplicitConstructor which works like a @RequiredArgsConstructor but relays arguments to the super construct

[2012-06-27 10:31] peichhorn commented on #90
Please try: @NoArgsConstructor (callSuper=true)
I introduced this feature in 0.11.0..

[2012-06-28 13:36] nicholas22 commented on #80
Sorry I missed this, in which version?

[2012-06-28 14:02] nicholas22 commented on #90
Tried but no luck, I'm using 0.11.0

[2012-06-28 20:39] peichhorn commented on #90
Quick Test: Compiled with eclipse and decompiled with JD
( Eclipse Juno 4.2 + lombok-pg 0.11.0)

**Before**

[code]

[code]

**After**

[code]

[code]

[2012-06-29 14:08] nicholas22 commented on #90
Ah very nice! I think I used @RequiredArgsConstructor, I should have read the post more carefully >:)

[2012-06-29 14:08] #90 closed, assigned to peichhorn

[2012-06-29 22:18] peichhorn commented on #90
@RequiredArgsConstructor would work as well if configure it with `callSuper=true`

[2012-06-30 09:29] #80 closed, assigned to nobody

[2012-06-30 13:53] peichhorn opened #91 "Handle @ExtensionMethod with future lombok 0.11.2"
@ExtensionMethod got moved up to lombok, which is awesome.
But for existing users of lombok-pg the different packages of @ExtensionMethod are a minor issue..

lombok: `lombok.experimental.ExtensionMethod`
lombok-pg: `lombok.ExtensionMethod`

One solution would be to handle both `lombok.experimental.ExtensionMethod` and `lombok.ExtensionMethod` and therefore patch lombok again. -.-

[2012-06-30 17:06] nicholas22 commented on #91
Sounds like a good plan to me (albeit more work for you unfortunately). I suppose after a while it will be non-experimental and would merge into 1?

[2012-07-01 00:31] peichhorn commented on #91
Yeah I think so.

[2012-07-02 12:41] fommil opened #92 "quiet: @Cleanup"
This is a dupe of an RFE I have filed with canonical Lombok

http://code.google.com/p/projectlombok/issues/detail?id=388

It would be great if there were a "quiet" option to @Cleanup which essentially did the same as Guava's Closeables#closeQuietly

http://docs.guava-libraries.googlecode.com/git-history/release/javadoc/com/google/common/io/Closeables.html#closeQuietly(java.io.Closeable)

Incidenta

[2012-07-02 12:56] fommil opened #93 "Documentation for @BoundPropertySupport/@BoundSetter"
I'd like to use the above-named annotations, but I don't know what they do.

Incidentally, if it is the same as @BindableData from LomProp then all is good with the world (do you have an equivalent "super" annotation to promote a @Data to a bound source?)

http://code.google.com/p/lomprop/

[2012-07-02 13:03] fommil opened #94 "@VetoableChangeListenerSupport"
I posted an RFE on the Lombok mailing list and it was suggested I repeat it here

https://groups.google.com/forum/?fromgroups#!topic/project-lombok/iBgTxxfHc8c

(somebody pointed out that you provide something to do @PropertyChangeSupported)

It would be really cool if something like the following

[code]

produced the following (imports not included for brevity):

[code]

[2012-07-02 13:20] fommil commented on #94
(wtf with github's formatting of my message???)

EDIT: I've formatted it nicely for you.

[2012-07-02 13:25] fommil commented on #94
UPDATE: the handling of a PropertyVetoException could be parameterised in the annotation. The two main options are: throw a runtime exception or (my favourite default) silently return without alerting any property listeners.

PS: SUN chose to send out a second message to all listeners if anything does a veto. It is worth reminding users of this in your annotation documentation. (although sensible

[2012-07-02 15:39] peichhorn commented on #92
Thank you for your feedback. I will look into it.

[2012-07-02 15:46] peichhorn commented on #93
Yeah the documentation of this project is extremely bad. I see what I can do to change that.
`@BoundPropertySupport` should be pretty much the same as `@BindableData`

There is actually a small example in the wiki, where I will update the project documentation: [link](https://github.com/peichhorn/lombok-pg/wiki/%40BoundPropertySupport-%40BoundSetter)

[2012-07-02 15:47] peichhorn commented on #94
I will look into this.

[2012-07-02 15:50] fommil commented on #93
Thanks Philipp,

By the way, is your project supposed to sit beside Lombok or a replacement? Because many classes are the same, Lombok-pg breaks my builds (mostly @Cleanup changes in behaviour). And if the latter, how aligned are the sources? (ie do you incorporate Lombok bug fixes and updates?)

Sent from my iPad

On 2 Jul 2012, at 16:46, Philipp Eichhornreply@reply.github.com wrote:

[2012-07-02 15:58] peichhorn commented on #93
You shouldn't mix lombok and lombok-pg because I've modified `@Cleanup` to work with `yield` and `@Data` to have `callSuper=true`. The installation process into eclipse is also easier with just one jar.

Do a search-replace and change `@Cleanup` to `@Cleanup("close")` (which btw also works for lombok)

I perform frequent updates and usually work against to lombok HEAD.

[2012-07-02 16:16] fommil commented on #93
OK, thanks for the explanation.

I'll add the parameter to @Cleanup, I'm not so sure I like that change from the canonical defaults. Why can't you use "close" as default and let the yielder's change the parameter?

I look forward to the implementation of "quiet close", as I see little reason to throw an IOException from a failed close operation (although I would like to log such cases, if possible

[2012-07-02 17:19] peichhorn commented on #93
And that is a reasonable reaction, that I can fully understand.

Here are a few more details, to understand why I changed the behavior of `@Cleanup`:

If you use `@Cleanup` now, you get code like this:

[code]

This is about the only way I can make `@Cleanup` work together with `yield`, since `yield` returns either an `Iterator` or an `Iterable` and none of these interfaces define a `close` method

[2012-07-02 18:12] fommil commented on #93
Hi Philipp,

I am a little confused by the problem. Indeed, I do not see why there is a problem.

Until now, I thought you were meaning Thread.yield, but that cannot be the case as it does not return anything. What do you mean by yield?

Also, why can't the @Cleanup annotation take a value, which is "close" by default? That way, if you want to call something else, then it can be the parameter.

##

[2012-07-02 18:13] fommil opened #95 "@Cleanup for parameters"
Sometimes I want to be able to mark a method's parameter with @Cleanup, but this doesn't seem to be allowed.

The generated code should be exactly the same as if the parameter were defined on the first line of the method.

[2012-07-02 18:21] #93 closed, assigned to peichhorn

[2012-07-02 18:21] fommil commented on #93
BTW, I just found the documentation for this annotation in the wiki! So I'm marking the issue as closed.

I suggest you remove the website http://peichhorn.github.com/lombok-pg/ as the documentation appears to be at https://github.com/peichhorn/lombok-pg/wiki

(I presume this is like the old sourceforge problem where projects tend to have homepages, websites and documentation pages - all of which

[2012-07-02 18:25] fommil commented on #93
Argh, there appears to be some inconsistencies between the two documentation home pages. For example, yield is not documented on the wiki

 https://github.com/peichhorn/lombok-pg/wiki/Yield

but appears in this "homepage" of sorts

 http://peichhorn.github.com/lombok-pg/Yield.html

[2012-07-02 19:07] peichhorn commented on #93
Yeah I'm currently moving everything to the wiki.. afterwards a redirect should guide everyone to the wiki..

[2012-07-03 20:23] peichhorn opened #96 "@Mixin"
I've been thinking about this for quite sometime now and I really like to implement it.
First iteration should be static (compile-time) mixins.
Second iteration could be a dynamic (runtime-mixin) support using cglib.

Smallest example I could think of:

Before:

[code]

After:

[code]

[2012-07-03 21:18] peichhorn commented on #91
done...

[2012-07-03 21:18] #91 closed, assigned to peichhorn

[2012-07-04 07:33] peichhorn commented on #94
Done. Still need to update the documentation, though.

[2012-07-04 07:33] #94 closed, assigned to peichhorn

[2012-07-04 20:59] peichhorn commented on #92
I'm going with Roel's comment in [issue 388](http://code.google.com/p/projectlombok/issues/detail?id=388#c1) that you should never ignore the IOException when calling `close()` on a writable resource. I'm however fine with an `quiet` option, that is turned off by default.

[2012-07-04 21:36] fommil commented on #92
OK thanks, I would only use the quiet option on a reader anyway.

[2012-07-05 00:05] peichhorn commented on #95
Done.. I've also deployed a new SNAPSHOT release, which you may find here: [link](https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.11.2-SNAPSHOT)

[2012-07-05 00:05] #95 closed, assigned to peichhorn

[2012-07-05 00:05] peichhorn commented on #92
Done.. I've also deployed a new SNAPSHOT release, which you may find here: [link](https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.11.2-SNAPSHOT)

[2012-07-05 00:05] #92 closed, assigned to peichhorn

[2012-07-05 07:52] ttozser opened #97 "@Builder should have a way to specify which fields are required"
It is a really great feature of the builder that it doesn't allow the user to call the build method until all of its final field are set.
But I would like to be able to set non final fields to be required too. So the user can't forget to specify their value.

I don't know which would be the best solution:
- parameters in the `@Builder` annotation to include or exclude fields from required fields
-

[2012-07-05 07:54] peichhorn commented on #97
Sounds good.

[2012-07-05 09:55] ttozser commented on #97
I checked out the code and I found out that this is already implemented with jsr 305 `@Nonnull` annotation.

[2012-07-05 09:55] #97 closed, assigned to nobody

[2012-07-05 10:08] ttozser commented on #97
Maybe the documentation should mention it.

[2012-07-05 12:37] ttozser opened #98 "@Validate support for standard validation annotations"
I would like to add support for non lombok specific validation annotations. (NotNull, Min, Max, Pattern, ...).

Could you help me how to start?
I have checked out the code and run the the `ant eclipse` command.
But when I try to compile it I get a lot of errors.

About the change:
Change the type of the type field in IParameterValidator to String so it can contain the cannonical name of the handle

[2012-07-05 14:00] peichhorn commented on #98
Make sure that you install lombok into eclipse. Once you've executed the `ant eclipse` task, there should be a `lombok.jar` in the folder `lombok-pg/lib/build`. If this doesn't help, I need more details about the errors.

I'm currently at work, so I can't answer right now. Expect an answer later this day.

[2012-07-05 14:29] ttozser commented on #98
I don't know exactly what caused the error but after a clean compile it disappeared. Maybe something was corrupt.
So know it builds cleanly.

I got it to work with the argumentless annotations. (null, notnull, past, future, assertfalse, asserttrue)

[2012-07-05 19:40] peichhorn commented on #98
Very nice.

**About your previous questions:**

I think validating type specific annotations in general will be very hard, since you need to resolve the type to handle subclasses and all. But if you want to focus on primitive types and common used types, it should be doable without jumping through a lot of hoops.

Looking into this as we speak.. to be continued..

[2012-07-05 20:03] peichhorn commented on #98
The trick is to pass `lombok.core.AnnotationValues` to `IParameterValidator.getStatementsFor(...)` instead of `Annotation` and call `getProbableFQType(..,)`

[code]

The downside is, that default values of the annotation method wont work this way.

[2012-07-05 20:22] ttozser commented on #98
I think I wasn't clear.
I already have the annotation fully qualified name.

I do something like this:

[code]

Where `validationStrategy.getType()` returns for example: `"javax.validation.constraints.Size"`
So I get a `org.eclipse.jdt.internal.compiler.ast.Annotation` and I would like to determine from this the arguments from the user.

[code]

In this example I would like to get that min = 1 and

[2012-07-05 20:35] ttozser commented on #98
At the moment I am thinking about something like:

[code]

[2012-07-05 22:14] nicholas22 commented on #96
Wow :)
Looking forward to this one :D

[2012-07-08 20:13] peichhorn commented on #71
Done. Simply specify a one argument constructor with `Builder` as the argumentType, like this:

[code]

Will be part of the 0.11.2 release.

[2012-07-08 20:13] #71 closed, assigned to peichhorn

[2012-07-10 14:32] fommil opened #99 "Netbeans niceness"
This is more of a "heads up" to discussions between mainstream Lombok and Netbeans:

  http://netbeans.org/bugzilla/show_bug.cgi?id=215078

  http://code.google.com/p/projectlombok/issues/detail?id=393

so that lombok-pg features can hopefully stick to the requests of the Netbeans developers in order to ensure IDE compatibility.

[2012-07-10 16:36] peichhorn commented on #99
Thanks for the heads up. The patch provided by Jan Lahoda looks really interesting. I'm definitely going to play around with this.

[2012-07-11 10:57] fommil commented on #99
Awesome! I'll make sure the Netbeans team knows about this. Is there a maven repository for snapshot releases?

[2012-07-11 13:26] peichhorn commented on #99
I will need to deploy a new snapshot once I get home from work.
You may find the snapshots here: [link](https://oss.sonatype.org/content/repositories/snapshots/)

[2012-07-12 14:00] fommil commented on #99
Hi Philipp,

How would I do that in my pom.xml?

##

Sam

On 11 Jul 2012, at 14:26, Philipp Eichhorn wrote:

[2012-07-12 14:08] nicholas22 opened #100 "val/yield combo Eclipse bug"
[code]

**Eclipse error:**
The method getTimeZone() is undefined for the type val

**Workaround:**
Use ZonalDateTime instead of val

[2012-07-12 14:11] peichhorn commented on #99
by adding this to your `pm.xml`:

[code]

[2012-07-12 14:14] peichhorn commented on #100
Thanks for the detailed report. Will look at it right away.

[2012-07-12 14:24] fommil commented on #99
ok, that seems to get the jars.

However, when I try either 0.11.1-SNAPSHOT or 0.11.2-SNAPSHOT (and a clean/build) all my Lombok classes in Netbeans have big error badges and it is as if the Lombok annotations are not being processed (e.g. getters/setters not created and log fields not there).

Compiles fine from the command line, though.

[2012-07-12 19:27] peichhorn commented on #99
I'm on my way home and will try out the snapshots in a few minutes.
Which netbeans version are you using?

[2012-07-12 20:31] peichhorn commented on #100
It works with the current 0.11.2-snapshot release.. I think this is a duplicate of issue #88.

[2012-07-12 20:53] peichhorn commented on #99
I've tested `@Data`, `@Getter`, `@Setter` and `@Log` with Netbeans 7.0.1 and Netbeans 7.2 RC1 and everything worked just fine.

[2012-07-12 21:11] fommil commented on #99
7.2rc1

Kind regards,
Sam Halliday

##

Sent from my iPhone

On 12 Jul 2012, at 20:27, Philipp Eichhornreply@reply.github.com wrote:

[2012-07-12 21:11] fommil commented on #99
Odd, are you using Maven projects?

Kind regards,
Sam Halliday

##

Sent from my iPhone

On 12 Jul 2012, at 21:53, Philipp Eichhornreply@reply.github.com wrote:

[2012-07-12 21:18] peichhorn commented on #99
Oh, no I'm not.. that might be it.. gonna check real quick..

[2012-07-12 21:30] peichhorn commented on #99
Works as a Maven project as well for me.

[2012-07-12 21:37] fommil commented on #99
Ok, I shutdown NetBeans, cleared the cache (var folder) and restarted and it worked :-)

Kind regards,
Sam Halliday

##

Sent from my iPhone

On 12 Jul 2012, at 22:30, Philipp Eichhornreply@reply.github.com wrote:

[2012-07-13 18:06] nicholas22 commented on #100
Ah sorry for wasting your time...

[2012-07-15 13:02] #73 closed, assigned to peichhorn

[2012-07-15 13:27] peichhorn commented on #100
Nothing to be sorry about. I've just released 0.11.2. Could you please try it out and close this issue if you can't reproduce the bug anymore.

[2012-07-17 08:47] nicholas22 opened #101 "#ifdef"
I was giving an intro to someone about how lombok works and their first expectation was, being a pre-processor of sorts, that it would have #ifdef/#ifndef, #endif and other such constructs. I am aware that one of the limitations with what we can do is that the source must not have Java syntax errors (hence the traditional #ifdef syntax is probably out the window), but it would be a nice addition i

[2012-07-17 12:44] aroux opened #102 "@Builder, generics and final fields"
Hi,

When I try to use the @Builder extension for this class :

[code]

I got an error : _The type DomainContainer.ADef is not generic; it cannot be parameterized with arguments <D>_.

It seems that interfaces generated for non optional arguments are not always parameterized. If I remove one final (or both), it works.

Thank you,
Bests
Alexandre

[2012-07-17 14:00] fommil commented on #99
I am using your snapshot releases and I'm afraid to report that NetBeans refactoring is still breaking down when using Lombok annotations. e.g. refactor a classname or move to a different package when using typical annotations like @Log, @RequiredArgsConstructor, @ListenerSupport.

I would be happy to try and track down the offending annotations if you are able to help (including with standard Lom

[2012-07-17 14:13] fommil commented on #99
I think it is also relevant to note that annotations on a class result in warnings at the class level being on the annotation line, and not the class definition line, in NetBeans. Guess: NetBeans is getting off-by-one errors at the source code level and then operations like warnings/errors/refactoring/parsing are all affected. I'm not knowledgeable enough to know if Jan's suggestions will address

[2012-07-17 17:20] lgathy opened #103 "Define the initialized fields in the @Builder.Extension annotation"
Due to the change in version 0.11.2 it is no longer possible to create multiple builder extension methods for the same field with different method names. However this could be very useful if you want to initialize the same field using different input arguments. In case of an Iterator, it is useful to have one using an Iterable too, and to avoid disambigous calls, it is safer to name them different

[2012-07-17 20:18] peichhorn commented on #102
Oh my, thanks for the report. Will fix it right away..

[2012-07-17 21:00] peichhorn commented on #101
Yeah, there are similarities. ;)

This is an interesting reaction.

I'm not a big fan of adding c-ish pre-processor commands like #ifdef/#ifndef, #endif to lombok-pg, since they are mainly used to have platform-specific sections of code. As you know, we don't have this problem in java and other modern languages, which run on VMs, since you write your code against one single, portable standard libr

[2012-07-17 21:09] peichhorn commented on #99
That's why this issue is still open. ;)

I'll take every feedback from you I can get and try to get all the features working well enough. I can't promise you anything though, since I've never looked in the netbeans code base. But I'm pretty sure, that we can still improve a lot of features with Jan's suggestions.
I'm not sure if you're aware of it, but I'm also a frequent committer to lombok, so w

[2012-07-17 21:34] peichhorn commented on #103
I'm sorry for the regression.
Thanks for the detailed report and the decent suggestion. I will do exactly that.

Now the reason for the regression:

As you may know, `@Builder` uses some interface wizardry to guarantee that required fields are initialized.
The issue with `@Builder.Extension` is, that we need to decide if the extension initializes required fields or not.
And if it initializes requi

[2012-07-17 21:54] peichhorn commented on #102
Done, I will probably release a new snapshot release tomorrow.

[2012-07-17 21:54] #102 closed, assigned to peichhorn

[2012-07-17 22:40] peichhorn commented on #103
Done, I will probably release a new snapshot release tomorrow.

[2012-07-17 22:40] #103 closed, assigned to peichhorn

[2012-07-17 23:42] fommil commented on #99
Ok cool. I did some NetBeans contributions a few years ago, so I am relatively familiar with the Netbeans Java editor/hints APIs, but Jan is just the chap for the real details - all the business about synthetic trees was beyond my understanding. I don't understand which stage in the compile process Netbeans is using to build up its javac tree and how it then works out where that is physically in a

[2012-07-18 06:19] aroux commented on #102
Ok thank you very much.
Bests
Alexandre

[2012-07-18 06:21] peichhorn commented on #99
Good point, lombok does exactly that. So first step would be not to remove the annotations when running in Netbeans IDE.

I think, that I have a fairly decent test project now. It would be nice, if I could get constant feedback from you, when I release new snapshots. Since it's possible that I accidentally miss a use-case.

[2012-07-18 06:53] peichhorn commented on #99
I did a quick check, leaving the annotations untouched when running in Netbeans IDE, works great.
Also a lot of features of lombok-pg can be fixed by giving the field declarations the position of -1, since Netbeans recognizes the generated AST as synthetic then.

[2012-07-18 19:33] nicholas22 commented on #101
"...we don't have this problem in java and other modern languages, which run on VMs, since you write your code against one single, portable standard library."

Are you sure? There are platform specific portions of code in Java as well. One example is the use of sun.misc.Unsafe. There are other examples, around file-specific constructs. I wouldn't suggest to create a new template scripting mechanis

[2012-07-18 19:49] peichhorn commented on #101
Alright if include native methods calls it is possible to have platform specific portions of code. Good point! ;)
But then you 'just' have to run your code with the platform specific runtime libraries.

Let's assume that you need different native method calls for different platforms, don't you think it is cleaner, to put these peaces of code into different objects, using for example the strategy p

[2012-07-18 20:32] peichhorn commented on #99
**Quick list, that I will update constantly...**
(you will always find it on the bottom of this discussion)

Features that work properly :
- `@AllArgsConstructor`, `@RequiredArgsConstructor` and `@NoArgsConstructor` - no brainer
- `@Cleanup` - fixed
- `@Delegate` - no brainer
- `@EqualsAndHashcode` - no brainer
- `@Getter` and `@Setter` - no brainer
- `@Log` - fixed
- `@ToString` - fixed
- `@AutoG

[2012-07-18 20:50] peichhorn commented on #70
Just out of curiosity I've installed the latest nightly build of the ScalaIDE 2.9.x branch and I can reproduce this issue.
So it is definitely a bug. Somehow ScalaIDE interferes with the way @AutoGenerateMethodStub works.

[2012-07-18 21:03] peichhorn commented on #70
The issue is, that ScalaIDE creates a pointcut with AspectJ for methods lombok-pg manipulates.

`scala.tools.eclipse.contribution.weaving.jdt.jcompiler.MethodVerifierAspect`

[2012-07-18 21:17] nicholas22 commented on #101
The difference between pre-processor definitions and the strategy pattern is the point/time of execution. So with the former, we eliminate code completely: no overhead, no evaluation, nothing. With the latter, we are using virtual method dispatch. This may be a trivial difference for 95% of the code written, but not trivial if performance is of very high importance... Think for example of very tig

[2012-07-18 21:20] nicholas22 commented on #70
Should I create a bug report for this with them, or would you rather do so (being more knowledgeable of the internals?)

[2012-07-18 21:29] peichhorn commented on #70
Fixed it inside lombok-pg.. gonna release a new snapshot now..

[2012-07-18 21:36] peichhorn commented on #70
New snapshot is available at: [link](https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/0.11.3-SNAPSHOT/)

If it should fail again in the future, please let me know. Because if it does, it means I have to go through the guts of ScalaIDE again. xD

[2012-07-18 21:36] #70 closed, assigned to peichhorn

[2012-07-18 22:04] nicholas22 commented on #70
Wow nice one dude, thanks! ;)

[2012-07-19 13:18] rvakkada commented on #76
we are using mostly LMAX kind of architecture with DDD appoach where we do not want to create unncecessary objects and our code is going to be single threaded. SO we want to reuse the same instance of builder.

[2012-07-19 15:37] fommil opened #104 "BeanInfo generation"
BeanInfo is used by many JavaBeans compliant applications - such as Netbeans GUI Editor - but the generation of the BeanInfo is sometimes ludicrous. Netbeans BeanInfo generation code is utter nonsense and is often 1,000 lines long even for simple objects. Clearly the whole BeanInfo concept would have been better achieved with annotations - but we're stuck with this awful legacy.

Often it is enoug

[2012-07-19 15:40] fommil commented on #104
Some googling found this API, which looks exactly like I would have expected a Lombok API to look like: http://doc.formdev.com/jfd-annotations/com/jformdesigner/annotations/BeanInfo.html

But the whole framework is tied to a commercial product and not standalone.

[2012-07-19 18:37] rvakkada opened #105 "how to use lombok builder for subclasses"
Class A extends Class B with class A having a few fields and Class B addtional fields. How do I use the builder

[2012-07-19 18:44] peichhorn commented on #105
Sadly this doesn't work for now. I still need to find a decent way to support this. If you already have ideas about this feature, please let me know.

I'll mark this issue as a duplicate of Issue #78, so please continue the discussion there.

[2012-07-19 18:44] #105 closed, assigned to peichhorn

[2012-07-19 18:47] peichhorn commented on #104
Interesting idea, I will look into it.

[2012-07-19 18:52] peichhorn commented on #76
Ah ok, I will see what I can do.

[2012-07-19 19:03] fommil commented on #99
Try changing Blah to Bloo in the following, refactor is cancelled by the editor.

[code]

In addition, this code probably won't compile for you with javac because the package line is missing. (Ignore original version of this comment, I was using an earlier version, the refactor with the parameter removed works OK now)

[2012-07-19 19:27] rvakkada commented on #105
Please do not use reflection

----- Original Message -----
From: Philipp Eichhorn reply@reply.github.com
To: Vakkada, Rajkumar: IT (NYK)
Sent: Thu Jul 19 14:44:23 2012
Subject: Re: [lombok-pg] how to use lombok builder for subclasses (#105)

Sadly this doesn't work for now. I still need to find a decent way to support this. If you already have ideas about this feature, please let me know.

I'll ma

[2012-07-19 19:35] fommil opened #106 "Generate Javadoc"
It is often useful to create boilerplate Javadocs which simply contain the parameter names so that automated tools can have access to the parameter names (e.g. IDEs and non-bytecode implementations of Paranamer and netlib-java). It would be really cool if delombok automatically created Javadocs whenever they are missing. Personally I'd be happy with this happening by magic, but if it really has to

[2012-07-19 19:37] peichhorn commented on #105
I don't need to use reflection since I have all the info I need at compile time. I merely need to find a way to expose this feature to the user.

[2012-07-19 19:43] peichhorn commented on #106
I have never tried out generating javadoc, so I need to create a small prototype first. After that we can iron out the details.

[2012-07-19 19:58] rvakkada commented on #105
@peichhorn this comment was moved to the correct issue

[2012-07-19 20:27] fommil commented on #99
Netbeans refactor "create method doOtherStuff" results in the trailing } being dropped from the file. (I'm also seeing something similar to this in a much bigger class, where that multiple paste nonsense happens again. But I can't isolate it with a test case).

Bizarrely, this works fine if I use a full class path of both the lombok annotation and the listener interface.

[code]

[2012-07-19 20:44] fommil opened #107 "ListenerSupport with generics"
Would it be possible to support a Listener<T> such as the following?

[code]

I am unable to place such a listener in the @ListenerSupport list without getting "illegal start of expression" on character 40 of `@ListenerSupport(GenericListener<String>.class)`

[2012-07-19 21:12] peichhorn commented on #107
No, not really, since this is not valid java and touching the parser is a no-go.
The only way I could imagine it work, would be something like this:

`@ListenerSupport(type = GenericListener.class, typeArguments = String.class)`
or
`@ListenerSupport(type = GenericListener.class, typeArguments = {"SELF_TYPE", "EVENT_TYPE"})`

But then you won't be able to use `@ListenerSupport` with multiple listen

[2012-07-19 21:23] fommil commented on #107
Hmm, I could live with that but one would have to be careful when implementing multiple versions of a generic listener if there are Collections in the parameters (e.g. if it were `Collection<T> added`) to avoid erasure issues (but that's a Java problem, not a Lombok problem).

If you add support for the @GenericListener, would it break the current notation? If so, then this RFE will have to be dro

[2012-07-19 21:41] peichhorn commented on #107
No, if `types`, or whatever I will call it, is optional the current notation would still work. Naturally using `value` and `types` together should result in an error.

a more complex example, but this gets unreadable pretty quick:

[code]

[2012-07-19 21:57] fommil commented on #107
OK, that would be quite nice! Would help reduce boilerplate in terms of having to create multiple Listeners which are essentially doing the same thing (perfect for atomic CRUD-like changes to @Data types).

[2012-07-19 22:53] peichhorn commented on #76
Done..
Usage example:

[code]

[2012-07-19 23:06] rvakkada commented on #76
How will the inheritance part work ( I know it is a different issue)

----- Original Message -----
From: Philipp Eichhorn reply@reply.github.com
To: Vakkada, Rajkumar: IT (NYK)
Sent: Thu Jul 19 18:53:21 2012
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

Done..
Usage example:

[code]

---

Reply to this email directly or view it on GitHub:
https://github.com/peichhorn/lombok-pg/iss

[2012-07-19 23:22] peichhorn commented on #76
I'm not yet sure how exactly it will work. I have a view ideas, but I need to evaluate them first.

[2012-07-19 23:47] rvakkada commented on #76
Thanks
Let me know how it goes

----- Original Message -----
From: Philipp Eichhorn reply@reply.github.com
To: Vakkada, Rajkumar: IT (NYK)
Sent: Thu Jul 19 19:22:46 2012
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

I'm not yet sure how exactly it will work. I have a view ideas, but I need to evaluate them first.

---

Reply to this email directly or view it on GitHub:
https://git

[2012-07-20 01:04] fommil opened #108 "@BoundSetter - clarification and delombok"
I am using @BoundSetter within a JFrame (which already has bound property support).

However, I do not know if this is resulting in a new PropertyChangeSupport field being created or if it is simply using the existing firePropertyChange() method.

Furthermore, I tried to look at the code produced by delombok (I'm using maven-lombok-plugin 0.11.0.0 and lombok-pg 0.11.3-SNAPSHOT) but the @BoundSette

[2012-07-20 06:09] peichhorn commented on #108
For now this would create a new PropertyChangeSupport field since @BoundSetter only looks for an a existing getPropertyChangeSupport() method in the source file. So nothing super smart is happening.
My guess is, that this behaviour could lead to serious bugs, so I definitely need to look into this.
In the meantime: Why do you have to subclass JFrame?

Delombok just prints the AST, so there is no n

[2012-07-20 12:18] nicholas22 commented on #106
Yes this is a bit of a pain point of lombok (the core project) as well (see https://groups.google.com/forum/?fromgroups#!topic/project-lombok/m-6mhcXoVSk). They said they would implement it but I guess nobody got around implementing it.

[2012-07-20 13:00] peichhorn commented on #106
Thanks for the link.. there are some decent design ideas in the discussion and the referenced issues. Once I get a prototype working the rest should be a walk in the park.

[2012-07-20 14:41] rvakkada commented on #76
Is it possible to get this done in the next release. Also how do I access the reset method (which version of lombok-pg  will have it)

Thanks for the quick turn around
-----Original Message-----
From: Philipp Eichhorn [mailto:reply@reply.github.com]
Sent: Thursday, July 19, 2012 7:23 PM
To: Vakkada, Rajkumar: IT (NYK)
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

I'm not yet sure

[2012-07-20 14:51] fommil commented on #108
How about changing it so it takes a parameter to decide whether a PropertyChangeSupport is created or if the method is used instead? The J2SE pattern might actually be to expose convenience methods for the fire events, not to expose the PCS itself.

I'm extending JFrame because that's how the Netbeans GUI Editor likes to create the main application. (A moot point because the PCS is from Component,

[2012-07-20 15:38] nicholas22 commented on #106
You, sir, are an optimist :)

[2012-07-20 16:50] peichhorn commented on #76
Do you mean `@Builder` working with inheritance? If so, please use the other issue and probably yes. ;)

The next version which is 0.11.4. But I can deploy a snapshot release if you like.

[2012-07-22 19:16] peichhorn opened #109 "@BoundSetter should work with inheritance"
One solution would be to also create a delegate methods to  the PCSs `firePropertyChange(String, Object, Object)` method.
And to look for existing `addPropertyChangeListener(PropertyChangeListener)`, `removePropertyChangeListener(PropertyChangeListener)` and `firePropertyChange(String, Object, Object)` methods in the type hierarchy before creating a new PCS. Same thing goes for the VetoableChangeS

[2012-07-22 19:20] peichhorn commented on #108
Thinking about it closely @BoundSetter does not work with inheritance at all right now, so I've created a new issue for this.

Issue #109 @BoundSetter should work with inheritance

[2012-07-22 19:20] #108 closed, assigned to peichhorn

[2012-07-22 23:30] peichhorn commented on #109
I'm basically done with this, but I will give it another look an cleanup a bit.

[2012-07-22 23:30] #109 closed, assigned to peichhorn

[2012-07-22 23:42] peichhorn commented on #106
Result of my quick experiment was, that adding Javadoc to javac is super easy, since you just have to specify the text-block.
Adding Javadoc to ecj is a lot harder. For now I only managed to get references working, that don't have any descriptive text. And Eclipse didn't show the Javadoc. But I've only started, so all in good times..

[2012-07-24 13:20] nicholas22 opened #110 "@Copyable"
A nice addition to this already fantastic library is a way to do some boilerplate copying from one object's POJO properties to another. At the moment I've rolled out a very simple custom copier which uses reflection, but this is clearly something that can be made to perform much faster if done statically (at compile time).

[code]

A classic use-case would be when needing an object pool, or for re

[2012-07-24 13:32] nicholas22 commented on #96
A potentially interesting link to a project which has been commented on by Reinier Zwitserloot is here:
http://berniesumption.com/software/mixins-for-java/
http://hg.berniecode.com/java-mixins/downloads

[2012-07-24 15:24] nicholas22 opened #111 "Upgrading to 0.11.2 issue"
Internal compiler error: java.lang.ArrayIndexOutOfBoundsException: -2 at org.eclipse.jdt.internal.compiler.codegen.StackMapFrame.addStackItem(StackMapFrame.java:92)    Linq.java   /jpropel/src/propel/core/utils  line 0  Java Problem

This method is the culprit (used to compile under 0.10.0)

[code]

[2012-07-24 16:45] nicholas22 opened #112 "Memory usage of 0.11.2?"
I've been using 0.11.0 for a long time and memory was never an issue with Eclipse. I'm using 512MB of max heap (with typically ~80-200Mb being used by Eclipse).

Playing around with 0.11.2 I'm getting OOM errors hitting 512MB every few minutes. I've come to the conclusion that it's the plugin, because reverting to 0.11.0 completely rectifies the issue...

[2012-07-24 17:49] peichhorn commented on #96
Oh very interesting. On a first glance his approach works a bit different than mine but when I get to runtime mixins, this could be very neat. (instant bookmark ;) ..)

[2012-07-24 17:53] peichhorn commented on #111
I'm going to check it out. I'm sure you mean version 0.11.2. I think it's better if you would wait for 0.11.4 to come out, since 0.11.2 has an epic memleak that was plugged just 3 days ago. (memleak in lombok ^^)
If you want to try out some new stuff, I could easily release 0.11.3 just to get rid off the memleak.

[2012-07-24 17:56] peichhorn commented on #112
See comment on issue #111...
There was a memleak in lombok that was fixed only 3 days ago.. I can easily release 0.11.3 if you like. Just let me know.

(Actually there where two memleaks, I fixed one and released lombok-pg 0.11.2 soon after, the other one slipped through my radar..)

[2012-07-24 17:59] peichhorn commented on #111
Looking at this, I think this is definitely a position info bug. Not exactly sure what changed in lombok since I didn't touch anything in lombok-pg. But I will know more once I get home from work.

EDIT: No that wasn't it... must.... not... guess....

[2012-07-24 20:23] peichhorn commented on #111
When I try the provided snipped (with the current HEAD I might add) , I get:

`Type mismatch: cannot convert from Iterator<capture#9-of ? extends T> to Iterator<T>`

`Type mismatch: cannot convert from element type capture#1-of ? extends T to Iterable<? extends T>`

`Type mismatch: cannot convert from Iterator<capture#5-of ? extends T> to Iterator<Iterable<? extends T>>`

These errors make sense,

[2012-07-24 20:26] nicholas22 commented on #112
Cheers

[2012-07-24 20:26] #112 closed, assigned to peichhorn

[2012-07-24 20:42] peichhorn commented on #112
Does this mean, please release 0.11.3 ? xD

[2012-07-24 21:10] peichhorn commented on #111
The provided code did indeed work with lombok-pg 0.10.0 and 0.11.0 in both eclipse and javac.
In earlier version of yield there was a hard cast in yield, that was totally unnecessary, apparently this cast was hiding some major bugs. Sorry about that. I should really release 0.11.3..

[2012-07-24 21:15] nicholas22 commented on #112
hehehe- well, if you have some time, it would be nice... ;)

[2012-07-24 21:16] nicholas22 commented on #111
Not your fault is it? :)
(I thought yield is contributed)

[2012-07-24 21:19] nicholas22 commented on #96
I've benchmarked @Delegate vs MixinSupport (and had a brief look at Scala's traits). They all use composition and perform very similarly (no interesting outliers...).

So maybe we could improve on all of them, by copying fields onto the source class (rather than composing references). That would tend to yield better performance due to fewer memory indirections.

[2012-07-24 21:23] peichhorn commented on #111
I'm pretty sure, that I've messed it up..

[2012-07-24 21:24] nicholas22 commented on #111
Nothing to be sorry about! We're sticking with 0.11.0 for now. I think the thing that's going to force an upgrade is mixin support xD

[2012-07-24 21:28] peichhorn commented on #96
I'm not sure about this, but it would be nice to try out an 'inline' option..

[2012-07-24 21:32] nicholas22 commented on #96
The CLR saw a good speedup with structs (stack-based objects) when a "field local variable" type optimisation was enabled (similar to what I meant above)
https://connect.microsoft.com/VisualStudio/feedback/details/93858/struct-methods-should-be-inlined

[2012-07-24 21:32] peichhorn commented on #111
na 0.11.3 is on the way (few hours to central sync though).. there are some major bugfixes since 0.11.0.. if you got some time please try out 0.11.3..

I really need to add a changelog xD

[2012-07-24 21:41] peichhorn commented on #96
Sounds interesting, when I have a running prototype, I perform some benchmarks.

[2012-07-24 21:46] #111 closed, assigned to peichhorn

[2012-07-25 06:24] peichhorn commented on #110
From what I can tell, this code is supposed to perform a shallow copy and not a deep copy.
Three ideas come to mind:
1. generate a clone() method, but I don't like that too much since you can't use final fields then.
2. generate a copy constructor
3. generate a copy factory method

What do you prefer?

[2012-07-25 12:09] nicholas22 commented on #110
Yes the shallowness is for the first version ;)
Leaning towards the factory method, for ease of subclassing etc.

[2012-07-25 15:51] ribrewguy opened #113 "@Builder needs to respect @Accessor"
My company has a specific naming convention for member variables. @Accessor has helped greatly in producing correctly named getters, but the @Builder produces ugly methods. It would be great if @Builder removed the prefix specified by the @Accessor annotation.

[2012-07-25 16:03] peichhorn commented on #113
Sure thing

[2012-07-25 16:28] ribrewguy commented on #113
Thanks for the speedy attention to this issue!

[2012-07-26 15:40] fommil opened #114 "Support a compile time warning with @Warning"
I had the same idea as this chap

http://stackoverflow.com/questions/6889659

and it occurred to me that Lombok might be the place to implement such functionality.

For example, I might wish to mark a method with the following:

[code]

and then I would expect to see a println from my compiler when I compile the class, something like

WARNING in path.to.MyClass.read: "See upstream issue #HHH-7476

[2012-07-26 16:43] peichhorn commented on #114
How should the IDE behave? If it's OK, to see a warning there as well, it should be super easy. Otherwise I don't know how hard it's going to be.

[2012-07-26 17:00] fommil commented on #114
I think optimally the IDE should show a warning when the method is used but - like @Deprecated - that might need to be supported in the IDE (e.g. with a NetBeans 'hint').

For the Lombok implementation, it would be good just to print it to the console on compile.

##

Sam

On 26 Jul 2012, at 17:43, Philipp Eichhorn wrote:

[2012-07-26 21:05] peichhorn commented on #114
Done. Both Netbeans IDE and Eclipse show the warning as well.
(it would have been a lot harder not to show a warning, that's why I asked)

example: `8:21 WARNING in method test.WarningPlain.read(): "See upstream issue #HHH-7476 for details"`

[2012-07-26 21:05] #114 closed, assigned to peichhorn

[2012-07-26 21:11] fommil commented on #114
Awesome, thanks!

[2012-07-26 21:15] peichhorn commented on #114
I've also created a wiki page for the feature.
Feel free to add anything to the page, if you think something is missing.

[2012-07-26 21:36] peichhorn commented on #113
Now `@Accessors` works perfectly with `@Builder` in both ecj and javac. Even the features `@EnumId`, `@LazyGetter`, `@BoundSetter` and `@FluentSetter` work with `@Accessors` in nearly all cases. There are still some scenarios where the use of `@Accessors` fails though. For example using `@EnumId`, `@NoArgsConstructor` and `@Accessors` together does not work as expected.

To fix this, I need to cha

[2012-07-27 11:55] fommil commented on #99
This is probably a dupe of the above from 8 days ago (but now testing with 21st July snapshot), this breaks with missing closing brace when attempting to create the field.

[code]

[2012-07-27 13:12] peichhorn commented on #99
Thanks for letting me know. I will look into it.

[2012-07-28 21:35] peichhorn commented on #113
Done

[2012-07-28 21:35] #113 closed, assigned to peichhorn

[2012-07-30 12:34] fommil opened #115 "Support for all JPA hashCode/equals patterns"
There are several patterns for hashCode/equals in Hibernate/JPA.

  https://community.jboss.org/wiki/EqualsAndHashCode

Lombok supports "no eq/hC at all" and "eq/hC with the id property", but not "eq/hC with business key".

The first part of this RFE is "Please support eq/hC with business key".

My understanding of the business key pattern is that getters for Collection fields should return read-o

[2012-07-30 12:41] fommil commented on #114
I'm not seeing the snapshots at https://oss.sonatype.org/content/repositories/snapshots/com/github/peichhorn/lombok-pg/ to test this

[2012-07-30 12:57] fommil commented on #115
BTW, a 3rd RFE is that if the user `@Override`s `hashCode`, then still generate the `equals` method.

My workaround for the Hibernate-related bug means I have to generate both because Lombok will not generate `equals` if I create a `hashCode`.

[2012-07-30 13:02] fommil commented on #115
Hmm, just a thought, but if there were a way to wrap the `Collection` fields with an `ObservableCollection`, then Lombok could add code to listen to `add/addAll/put` calls and update the business key appropriately. That would negate the requirement to create new set methods.

The `Collection`s would only be wrapped when released from the getter, but: (a) no such standard wrapper exists and (b) reg

[2012-07-30 13:18] ribrewguy commented on #113
You rock!

[2012-07-30 14:03] ribrewguy commented on #113
Is there a snapshot available? I don't see since 0.11.1.

[2012-07-30 17:37] peichhorn commented on #114
Please use the 0.11.3 release available on maven central, [link](http://central.maven.org/maven2/com/github/peichhorn/lombok-pg/0.11.3/)

EDIT: Sorry this feature is not in the release.. I have to deploy a new snapshot then..
BTW the snapshots are removed automatically once a proper release has been published.

[2012-07-30 17:41] peichhorn commented on #113
There is a new 0.11.3 release available on maven central, [link](http://central.maven.org/maven2/com/github/peichhorn/lombok-pg/0.11.3/)

But this feature is not yet in the release, I have to deploy a  new snapshot. The snapshots are removed automatically once a proper release has been published, so all 0.11.3 snapshots are gone.

[2012-07-30 20:31] peichhorn commented on #115
I need to think about this one really hard. For example I'm not the biggest fan of the following requests:

But if I can't think of a better solution I might implement them.

Here is an article that presents a different approach: http://www.devx.com/Java/Article/30396/1954

[2012-07-30 21:05] fommil commented on #115
OK, no problem - the workaround is to just manually (Netbeans or delombok) write the `hashCode` and `equals`. Although an "excludeFromHashCode" variable in `@EqualsAndHashCode` would have been nice ;-)

The real RFE is to support the "business key" pattern from the URL I linked: it is actually more of a "pre-generated identity key" than anything else. Note that talking about a "business key" is am

[2012-07-30 21:13] fommil commented on #115
(BTW, although heavyweight, the solution in http://www.artima.com/lejava/articles/equality.html for the subclass problem is nice. But why does `canEqual` need to be `public`? Isn't `protected` more appropriate?)

[2012-07-30 21:20] fommil commented on #115
Caveat: the updating "business key" pattern shown in the first post, in the pastie link, is not my own. It came from somebody who helped me on the Hibernate IRC list. I had never seen this pattern before and just thought it might be useful. After further consideration, I'd like to see more documentation and discussion on use of the pattern, as it appears to be non-standard. One obvious problem is

[2012-07-30 22:12] fommil commented on #115
I'm actually starting to double-guess this pattern after all. I'm asking the Stack Overflow community if there are any gotchas

http://stackoverflow.com/questions/11730379

[2012-07-30 22:37] peichhorn commented on #115
Is a deep hash code and deep equals calculation really necessary?

lombok uses this exact approach to generate a proper `equals` method. I can live with `canEqual` being public, but to be honest I never thought about the visibility of this method long enough. ;)

[2012-07-31 09:42] fommil commented on #115
OK, I'm starting to see this more clearly now. I'm no longer convinced that this is "best practice" for `@Entity` management anymore. It's not without its merits, but it would need a lot more testing and advocates before Lombok could confidently implement the pattern. I think the pattern would actually be "cached hashCode with JavaBean equals" rather than using the key for equality.

With regards

[2012-07-31 20:33] rvakkada commented on #76
The reset method is available only on OptionalDef. Can you make it available as the first final field builder interface

-----Original Message-----
From: Philipp Eichhorn [mailto:reply@reply.github.com]
Sent: Thursday, July 19, 2012 6:53 PM
To: Vakkada, Rajkumar: IT (NYK)
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

Done..
Usage example:

[code]

---

Reply to this email directly

[2012-08-01 17:16] ribrewguy commented on #113
Right. So I am wondering if you will be releasing any 0.11.4 snaps.

[2012-08-02 06:09] peichhorn commented on #76
Oh sorry, I've missed that.

[2012-08-02 06:39] peichhorn commented on #76
Done.

0.11.4-SNAPSHOT can be found here: [link](https://oss.sonatype.org/content/repositories/snapshots/)

**EDIT** Sorry the snapshot is not available yet, since I get Bad Request errors when deploying the artifact.. I need to investigate this once I get home from work.
**EDIT 2** Now the snapshot is available..

[2012-08-02 06:39] #76 closed, assigned to peichhorn

[2012-08-02 07:31] peichhorn commented on #113
0.11.4-SNAPSHOT can be found here: [link](https://oss.sonatype.org/content/repositories/snapshots/)

**EDIT** Sorry the snapshot is not available yet, since I get Bad Request errors when deploying the artifact.. I need to investigate this once I get home from work.
**EDIT 2** Now the snapshot is available..

[2012-08-02 11:58] ribrewguy commented on #113
Thanks! Was this issue addressed in this snapshot? I do not see the expected behavior.

[2012-08-03 21:21] fommil opened #116 "@BoundSetter ignored when @Data used"
It would appear in 0.11.4-SNAPSHOT that using @Data will result in @BoundSetter being ignored. I would have expected @BoundSetter to have precedence - both at class level and individual property level.

Also, I've noticed that delombok isn't converting @BoundSetter annotations even when it the binary is being converted. Is that just a minor oversight?

[2012-08-03 21:30] fommil opened #117 "PropertyChangeSupport for Observable{Collection}"
This should be marked low priority for now, because it would rely on a third party Collection API.

I recently wrote a few Observable{Collection} classes (for Collection, Set and Map so far). They allow a listener to be attached which will receive atomic changes to the wrapped collection. It is possible to hook this back into PropertyChangeSupport so that  we can firePropertyChange when someone ch

[2012-08-03 21:54] #117 closed, assigned to nobody

[2012-08-03 21:54] fommil commented on #117
(Sorry, I originally proposed this without realising I could access the `$propertyChangeSupport`. Once I figured that out, I was able to move the boilerplate into a shared static method and now it's down to 1 line of boilerplate per property - which is not a problem at all).

[2012-08-04 10:53] peichhorn commented on #76
The snapshot I've uploaded did not contain a proper fix for this issue, please use the snapshot I've uploaded just now.
Sorry for the inconvenience.

[2012-08-04 10:56] peichhorn commented on #113
It should be working with the snapshot.
For example, this works for me:

[code]

If I've missed anything please let me know.

[2012-08-04 11:14] peichhorn commented on #116
The issue is, that technically `@Data` is being processed first. Therefore when handling `@Data` we need check if there are other annotations present on the type or the fields, that may generate setters as well. I know that I've patched this part of lombok once to work with lombok-pg's `@FluentSetter`, `@BoundSetter` and `@LazyGetter`. I'm pretty sure there was an internal change in lombok, that I

[2012-08-04 11:23] peichhorn commented on #116
Browsing through the history of some classes it looks like this didn't work for a long long time.. -.-

[2012-08-05 10:14] fommil opened #118 "transient field for PropertyChangeSupport and ListenerSupport"
as the title says - could you please create an annotation for settings on the `PropertyChangeSupport`, such as whether an existing `getPropertyChangeSupport()` method should be called, or an existing variable, and if any newly created variables should be declared `transient`.

[2012-08-05 11:00] fommil commented on #118
I suppose the workaround is to manually create the

[code]

but I think there is an argument for `@PropertyChangeSupport` to come back since this and how to get the variable are essentially user options.

[2012-08-05 17:40] fommil commented on #118
also, transient settings for `@ListenerSupport` would be good too. Or perhaps the better solution here is to write a custom serialiser or BeanInfo.

[2012-08-06 12:58] peichhorn commented on #118
No need, both  `propertyChangeSupport` and `vetoableChangeSupport` are already transient fields as you can see in the test-case [BoundSetterVetoable](https://github.com/peichhorn/lombok-pg/blob/master/test/transform/resource/after-delombok/BoundSetterVetoable.java).
I still need to update the wiki though.

Noted, but I need to think about this first.

[2012-08-06 17:46] FlorianBruckner commented on #109
There are still issues with inheritance and @BoundSetter

Assuming the following

   public class Scene {
      @Getter @BoundSetter
      private String name;
   }

   public class PlayableScene extends Scene {
      @Getter @BoundSetter
      private String duration;
   }

will generate a new field and support methods in both Scene and PlayableScene as private, where the field and the methods in

[2012-08-06 18:03] peichhorn commented on #109
Sorry I can't reproduced the issue. Here is what I did.

I put both `Scene` and `PlayableScene` in seperate source files.
Then I used a decompiler to verify that `@BoundSetter` works as expected.

And this how they look like.

[code]

[code]

They look fine too me.

Than ran this little demo:

[code]

Which prints out:

[code]

What am I missing?

[2012-08-06 18:09] peichhorn commented on #109
Oh it's broken in javac.. sh*t.. thanks for the report.. I'm on it..

[2012-08-06 18:11] peichhorn opened #119 "@BoundSetter should also work with inheritance in javac"
see last comments in Issue #109.

[2012-08-06 18:12] peichhorn commented on #109
I'm going to track the progress in Issue #119.

[2012-08-06 20:37] peichhorn commented on #119
Done. A new snapshot release is also available..

[2012-08-06 20:37] #119 closed, assigned to peichhorn

[2012-08-08 14:19] rvakkada commented on #76
Any idea when the builder can work with super class variables

-----Original Message-----
From: Philipp Eichhorn [mailto:reply@reply.github.com]
Sent: Friday, July 20, 2012 12:50 PM
To: Vakkada, Rajkumar: IT (NYK)
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

The next version which is 0.11.4. But I can deploy a snapshot release if you like.

---

Reply to this email directly or vi

[2012-08-08 15:00] peichhorn commented on #76
I plan on including a solution for Issue #78 in the 0.11.4 release, but I have not yet ironed out any details.
It's not an easy topic. I'm going finish up the idea this week. So maybe the feature is available next week,
but I can't guarantee you that.

[2012-08-08 16:28] rvakkada commented on #76
Thanks.

From: Philipp Eichhorn [mailto:notifications@github.com]
Sent: Wednesday, August 08, 2012 11:00 AM
To: peichhorn/lombok-pg
Cc: Vakkada, Rajkumar: IT (NYK)
Subject: Re: [lombok-pg] Add clear() Method to @Builder (#76)

Any idea when the builder can work with super class variables

I plan on including a solution for Issue #78https://github.com/peichhorn/lombok-pg/issues/78 in the 0.11.4 rel

[2012-08-10 17:04] peichhorn opened #120 "Upgrade to lombok 0.11.4"
Upgrade to lombok 0.11.4..
..also Reinier introduced a priority system in lombok, which make a tighter integration of all features a lot easier to achieve.

..In short... upgrade asap and cleanup the code..

[2012-08-14 22:06] fommil commented on #118
When I do (in 0.11.4-SNAPSHOT)

[code]

I'm getting "private final".

Same thing for `$propertyChangeSupport` and my classes that have `@ListenerSupport`.

BTW, why is the test case `volatile transient` instead of `final transient`? Can't you pass `this` from an initializer variable?

[2012-08-14 22:44] nicholas22 opened #122 "Yield a bit broken in 0.11.3"
[code]

Hopefully this can be fixed soon :)

[2012-08-14 22:49] nicholas22 commented on #100
Works!

[2012-08-14 22:49] #100 closed, assigned to peichhorn

[2012-08-15 06:06] peichhorn commented on #118
Have you tried a decompiler?

`@BoundSetter` is supposed to work with serialization, therefore both `propertyChangeSupport` and `vetoableChangeSupport` are initialized lazily.

[2012-08-15 06:29] peichhorn commented on #122
Thanks for the report.
This error got introduced in the process of allowing `val` and `yield` to work together.
(see commit cedf83e80381938bb8337b6ba5b3b2fb11409aa8)

I'm going to tackle this after the migration to lombok 0.11.4.
There are some internal changes in lombok that should make a tight integration of all features a lot easier to achieve.

[2012-08-15 06:35] fommil commented on #118
delombok isn't processing @BoundSetter at all. Can you recommend a decompiler?

Re: lazy init. Of course! I forgot that transient final fields aren't restored without readResolve.

Kind regards,
Sam Halliday

##

Sent from my iPhone

On 15 Aug 2012, at 07:06, Philipp Eichhorn notifications@github.com wrote:

[2012-08-16 12:06] LiviaH opened #123 "tag 0.11.4.0: Incompatible argument to function"
Hey,

there is an error in 0.11.4.0. After checkout and running "mvn generate-sources" the following error occures:

[INFO] Building Sample Lombok Maven Project 0.11.4.0
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:1.0:enforce (enforce-maven) @ test-maven-lombok ---
[INFO]
[INFO] --- lombok-maven-plugin:0.11.4.0:delombok (d

[2012-08-16 12:10] LiviaH commented on #123
I'm sorry, wrong github project, issue is now posted on lombok.maven project: https://github.com/awhitford/lombok.maven/issues/11

[2012-08-16 12:10] #123 closed, assigned to nobody

[2012-08-16 19:37] nicholas22 commented on #100
Happy 100th issue btw!

[2012-08-16 19:57] peichhorn commented on #100
Haha nice, thank you. xD

[2012-08-17 23:55] nicholas22 commented on #122
Cool- will await for this to update propel's byte[] file block iterator.

[2012-08-17 23:57] nicholas22 commented on #110
Another case today where boilerplate was used to clone a simple POJO. This must be a useful use-case for lots of users...

[2012-08-18 00:00] nicholas22 opened #124 "@Cleanup AST error"
I encountered an issue today, most probably due to usage of @Cleanup. Sorry- but couldn't isolate a piece of code. Maybe it's not needed though, due to the stacktrace:

!ENTRY org.eclipse.jdt.ui 4 10001 2012-08-17 09:56:26.970
 !MESSAGE Internal Error
 !STACK 0
 java.lang.reflect.InvocationTargetException
     at org.eclipse.jface.operation.ModalContext.runInCurrentThread(ModalContext.java:477)

[2012-09-07 17:52] tilm4nn commented on #120
When using lombok-pg 0.11.3 with Eclipse Juno Release Build id: 20120614-1722 the compilation works but I cannot see any of the generated code (methods,...) in the Outline view. When using plain lombok 0.11.4 then this is not the case. But then of course other things won't work ;) I have not tried plain lombok 0.11.3 so far.

Cheers, Tilmann

[2012-09-10 13:13] er13 opened #125 "@AllArgsConstructor with callSuper=true works in Eclipse, but doesn't work with javac"
@AllArgsConstructor with callSuper=true works perfectly in Eclipse, but doesn't work at all with javac - no constructor is generated.

[2012-09-12 20:12] nicholas22 opened #126 "Function templates"
Hi, just wondering if function templates have regressed, or am I not using them properly.
Using eclipse, if you copy and paste the source of lombok.Functions to another class and use them as a template, you get a strange error message, something like "Can't translate Functions2 as class object"...

[2012-09-27 23:20] Maaartinus commented on #63
I'd really prefer not to expose anything because of this. And I believe, it's easily possible: 1. Return an own object instead of Field (thus getting rid of the mutable state). 2. Forget about reflection. 3. You can do directly what some libraries do (in order to be faster than reflection) via cglib/asm:

[code]

Here, probably generics should be added, etc.

[2012-10-03 19:17] bennid commented on #78
I definitely need this.  I have a superclass in a dependency that I need for the subclass builder

[2012-10-18 10:39] fommil commented on #120
Hi @peichhorn, I prefer your release to canonical Lombok but it looks like development has stalled. Is this still active?

[2012-10-18 10:41] fommil opened #127 "Mechanism to enable Lombok extensions"
I absolutely love the Lombok project and this extension in particular.

However, I feel that some of the features have gone too far and I wouldn't want them to be used in any of my projects by my team (or externals).

It would be great if there were a feature to disable some features. Maybe it would be possible to do this with a class exclusion ruleset at compile time, but I've never seen anything

[2012-10-18 10:43] fommil commented on #106
I only care about `javac` anyway, to hell with those non-reference compilers ;-)

BTW, does this leave an empty space between the javadoc and the method it's sitting on? A bit pedantic perhaps, but I'd like my generated code to not have the missing line.

[2012-10-18 10:45] fommil commented on #115
@peichhorn did you manage to pick up my last message? Essentially, this should be a lot easier than originally requested.

[2012-10-18 10:48] fommil opened #128 "Source generation working for all features"
I thought there was an issue for this already.

I noticed that some annotations are not being converted when used with the delombok maven plugin: can you please make sure that delombok works with all the annotations. If memory serves, the bound property and listener annotations were not generating source code.

[2012-10-18 11:01] Maaartinus commented on #115
@fommil I can imagine that `propertiesEqual` is useful, but the `equals` and `hashCode` above are too strange and not general enough. Somebody can use `long id` with `0`or `-1` standing for unset. However, for me it's an anti-pattern. Use Hi/Lo algorithm, assign `id` in the constructor, make it `final`, and use `EqualsAndHashCode(of="id")`.

[2012-10-18 11:35] fommil commented on #115
@Maaartinus, I'm surprised that you're calling this an anti-pattern. This is the recommended way to implement eq/hc for JPA entities.

You're right, some people might prefer to use a more elaborate system for generating the 'id' value so that bit should definitely be left up to the user. I'm not proposing that Lombok creates the id field (UUID is my choice). Specifically, I don't see any reason wh

[2012-10-21 01:52] mrsquoosh commented on #78
Why not have the builder incorporate the fields from the super class if the super class is also annotated with @Builder ?

[2012-10-21 06:38] Maaartinus commented on #115
You could use hi/lo with this pattern, but the point of hi/lo is AFAIK to get rid of this pattern; mutable id is EVIL.

Moreover, with hi/lo you need no Objects as id, simple `long` suffices. Compared to UUID this saves 4 bytes per column and at least 32 bytes memory. It also saves an indirection (and maybe a cache miss).

OTOH, `propertiesEqual` could be useful in case you use the "normal" EqHC a

[2012-10-21 08:28] fommil commented on #115
Maartinus, read the RFE again: you've not got to the conclusions ;-) there is no mutable id or hashCode here.

Kind regards,
Sam Halliday

##

Sent from my iPhone

On 21 Oct 2012, at 07:38, Maaartinus notifications@github.com wrote:

[2012-10-21 09:11] fommil commented on #115
@Maartinus, for the avoidance of doubt here is how [hilo](http://blog.eyallupu.com/2011/01/hibernatejpa-identity-generators.html) could be implemented with [hibernate extensions](http://www.skill-guru.com/blog/2009/10/10/80priamary-key-generation-strategies-in-hibernate/) if Lombok had this annotation:

[code]

(you could be more verbose, avoid `@Data`, and use your own `@Getters` and `@Setters` i

[2012-10-25 16:23] patientstreetlight opened #129 "Builder should respect @NonNull annotation."
In the version of lombok-pg I'm using (0.11.3), `Builder` will allow fields which are marked `@NonNull` to be initialized to `null`, as demonstrated below.  If possible, I think `Builder` should do a runtime check to ensure that the object passed in is indeed not null, just like `@Setter` does.

[code]

I am aware of a similar-sounding issue, https://github.com/peichhorn/lombok-pg/issues/54. Howev

[2012-11-10 23:16] ryantenney opened #130 "Upload your fork of lombok to maven central"
As far as I can tell, lombok-pg is available on maven central, but a compatible version of lombok isn't. Is there a reason for this?

[2012-11-21 07:37] henry4j opened #131 "I have a build break with NullPointerException in my use of ExtensionMethod."
Can you please integrate this fix to Lombok-pg?
http://code.google.com/p/projectlombok/issues/detail?id=423

[2012-11-21 07:43] henry4j commented on #131
this must be the fix https://github.com/rzwitserloot/lombok/commit/d15d7228723ae5fa99036105c4df951ca9e40f1a

[2012-11-26 20:52] #130 closed, assigned to nobody

[2012-11-28 15:55] hkhan commented on #34
Can you provide an example showing how to use the builder for the generic type without warnings?

Thanks

[2012-11-30 16:20] aalmiray opened #132 "Bound TypeParam, how to get them right?"
Hi there,

Awesome job with this library, it makes it so easy to do naughty things to your Java code ;-)

So here I am trying to build some custom extensions and found myself in a pickle when it comes to TypeParam and its bounds. Here's one method signature I'd like to generate

[code]

Using MethodDecl I attach the following TypeParam definitions

[code]

It all appears to be peachy, but when I p

[2012-11-30 20:22] aalmiray commented on #132
Never mind, I was sending the wrong parameter to TypeParam. Also, though there's no sample usage of Wildcard() I discovered this is what I need for the 2nd question. So... nothing to see here. Closing.

[2012-11-30 20:22] #132 closed, assigned to nobody

[2012-12-01 00:02] nicholas22 commented on #131
Can you contribute? I will merge.

[2012-12-01 00:02] nicholas22 commented on #129
If you could provide a fix, I will merge

[2012-12-01 00:03] nicholas22 commented on #128
Please contribute and this will be merged

[2012-12-01 00:03] nicholas22 commented on #125
Please use ecj for now. If you can provide a fix- I will merge

[2012-12-01 00:04] nicholas22 commented on #124
any progress with this?

[2012-12-01 00:47] fommil commented on #128
I'm currently working with Scala and probably not back to Java for – hopefully – a long while, sorry.

[2012-12-07 13:36] claytonfraga opened #133 "@Builder in Eclipse"
"@Builder" does not work in Eclipse Indigo?

[2012-12-30 15:36] fommil opened #134 "Inclusion in main Lombok"
there are some features of Lombok-PG which are just amazing and should be brought in by the main Lombok team, e.g. ListenerSupport, BoundPropertySupport, what is the process to get them included?

[2013-01-05 00:19] astubbs commented on #120
How about 11.6? I'm using it with 11.6 so far no issue.

[2013-01-08 20:48] ribrewguy opened #135 "Project Status?"
There hasn't been any code changes in 5 months. Has this project been abandoned?

[2013-01-09 21:21] Tcharl commented on #120
Is there a way to makes it run with java7?

I just can't use these wonderful builder and other annotation 'cause of this issue...

My best, this is a very nice helper framework

[2013-01-13 20:13] nicholas22 commented on #135
Yes no recent updates- but this is a fork of the main lombok, which is fed the latest features. Some of them will be under an "experimental" package, but eventually merge in the same package names as this project. See lombok for more info.

[2013-01-13 20:13] #135 closed, assigned to nobody

[2013-01-28 15:09] Tcharl commented on #133
Yes it works, just add lombok-pg agent in place of lombok.jar

[2013-01-30 21:07] astubbs opened #136 "Expain what -pg means in README"

[2013-02-05 18:47] ribrewguy commented on #135
So, yes this project has been abandoned? Next to none of these features have made it into lombok yet. So it seems there are at least a handful of people that rely on the features introduced in lombok pg that are out of luck. It would be unfortunate to see this project die as I cannot imagine these features will make it into lombok any time soon.

[2013-02-07 01:29] bennid commented on #135
I’m with Todd on this one.  We use some of the features here that aren’t in Lombok main yet.

-Ben

From: Todd [mailto:notifications@github.com]
Sent: Tuesday, February 05, 2013 1:47 PM
To: peichhorn/lombok-pg
Subject: Re: [lombok-pg] Project Status? (#135)

So, yes this project has been abandoned? Because next to none of these features have made it into lombok yet. So it seems there are at least

[2013-02-25 13:18] cmadsen opened #137 "Support for generating static function/predicate for object methods"
In e.g. google guava there is a lot of boiler plate involved when using guavas functional features with std. java member functions

[code]

Any chance of getting lombok-pg to generate this via something like this:

[code]

?
[Funcito](http://code.google.com/p/funcito/) does something like this but it is still nosiy.

[2013-03-16 22:25] nicholas22 commented on #136
Done

[2013-03-16 22:25] #136 closed, assigned to nobody

[2013-03-16 22:26] nicholas22 commented on #134
Bring them to the attention of the lombok authors as a first step.

[2013-03-16 22:26] #134 closed, assigned to nobody

[2013-03-16 22:28] nicholas22 commented on #131
Haven't received a diff yet

[2013-03-16 22:44] fommil commented on #134
@nicholas22 I already did on the mailing list and there was no uptake.

In particular, the support for listeners is top of my list.

[2013-03-17 12:10] fommil opened #138 "0.11.4 release to maven central"
I hope you're still interested in this project - I think it is fantastic!

It would be good if you could release the current SNAPSHOT to maven central as it's been in snapshot status for a while and I think it has some changes in it that you implemented following some RFEs I raised.

[2013-03-17 12:11] fommil commented on #138
sorry, I just realised this is probably a dupe of #120

[2013-03-17 12:11] #138 closed, assigned to nobody

[2013-03-17 12:37] fommil opened #139 "executors for @ListenerSupport"
by example...

[code]

[2013-05-02 15:16] dabraham02124 opened #140 "add unbuild to @builder"
In addition to all the neat stuff in the @Builder annotation, could you please add an unbuild method?  This would create a builder based on the object in question.
Thus if object personName1 has firstName = "John" and lastName = "Smith" you could do this:

personName2 = personName1.unbuild().lastName("Johnson").build();

yielding personName2 with firstName = "John" and lastName = "Johnson"

Also y

[2013-05-03 05:23] benmccann commented on #140
+1 (though I'd prefer that the method be named builder())

[2013-05-03 17:41] dabraham02124 commented on #140
That makes sense.  I'd been reasoning by contrast with build(), but this method would be on the actual object, not the builder, so that makes sense to me.

[2013-05-21 16:04] pcarrier opened #141 "@Builder should be usable with Jackson"
Jackson 2.0 has [support for builders](http://fasterxml.github.io/jackson-databind/javadoc/2.1.0/com/fasterxml/jackson/databind/annotation/JsonDeserialize.html#builder%28%29).

It's obviously a very neat feature as it allows for deserialization of immutable objects.

Unfortunately it requires access to the builder class, which lombok-pg's @Builder seems to keep private.

An option to expose it wou

[2013-06-19 14:57] astubbs commented on #120
0.11.8 now...

[2013-08-21 13:59] silviuburceadev commented on #114
I haven't tried it yet, so please don't be mad if i ask an obvious question:
Can you suppress this warning? I think that you can't at the moment because a warning type is missing.

[2013-08-29 16:36] loicortola commented on #78
Hello @peichhorn,
first let me say I really enjoy working with Lombok, it's been making my life easier for months now.

I may have a suggestion for the implementation of the builder pattern, but I think there is still one obstacle to overcome.

The way you implemented it is to have a private inner class plus a public method, which doesn't support overriding. Instead, I'm suggesting we do a public

[2013-09-06 20:16] astubbs opened #142 "Builder now needs to be resolved with lombok 0.12's builder"

[2013-10-02 21:40] stephanenicolas commented on #10
Is it supposed to work with maven as well ? I get the error : "has private access in <classUnderTest>". I can't invoke the method annotated with @VisibleForTesting during the testCompile phase of maven.

Here is the exerpt from my pom.xml file :

[code]

[code]

Btw, artifact of 0.11.3 seems to have a bad signature on maven central.

[2013-10-28 15:51] awhitford opened #143 "Java 7 compatibility"
I have a sample project that uses lombok-pg with lombok 1.12.2 and it is failing to build using Java 7.  The root issue has been traced to some old code in lombok-pg.

You can find some background here:
https://groups.google.com/forum/#!topic/project-lombok/UdvLbP-QJuI

I suggest adding oraclejdk7 to your travis configuration so that you can ensure both Java 6 and Java 7 compatibility.

The error

[2013-12-07 08:55] LiorZ opened #144 "NPE When using BoundSetter"
Hi,
I've set up my eclipse env to use lombok-pg (added the following flags to eclipse.ini :

-javaagent:/<path>/lombok-pg-0.11.3.jar
-Xbootclasspath/a:/<path>/lombok-pg-0.11.3.jar

And added the jar to the annotation processing preference page and the classpath. Overall, everything works great except for **BoundSetter** which generates the following NPE upon compilation:

Internal compiler error:

[2013-12-28 15:06] jirutka commented on #96
Any progress here? This feature looks very interesting.

[2014-01-23 11:38] theigl commented on #141
+1

[2014-01-27 11:08] gabor-farkas opened #145 "License of a fork"
Hello,
I've found no other way to contact you :)
We've created a fork of lombok-pg at Doctusoft, and we'd like to add our license information to our extensions. What's the preferred way of doing this? Do we add an additional license file in the project, keeping the original?
Thanks, Gabor Farkas

[2014-03-25 10:48] teras opened #146 "lombok-pg does not work with Java 8"
This probelm seems to be fixed in official Lombok distribution, since there are some bug reports about it
https://code.google.com/p/projectlombok/issues/detail?id=451
and
https://code.google.com/p/projectlombok/issues/detail?id=591

Probably a new lombok-pg version should be produced?

Thanks!